--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entities=target_contact,relationships&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=50&source_record_id=11&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 02 Sep 2013 01:47:23 +0000
      Etag: 
      - "\"1378086443\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":34,\"values\":[{\"id\":\"104118\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"4\",\"engagement_level\":\"2\",\"activity_date_time\":\"2013-07-20 21:57:51\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/41\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60047\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60047\",\"custom_149\":\"power-backpack\",\"custom_155\":[\"magazine-no\"],\"custom_156\":[\"journey-nothing\"],\"custom_157\":\"gauge-1\",\"custom_159\":\"\",\"custom_151\":\"\",\"custom_152\":\"\",\"custom_64\":\"\",\"custom_162\":\"\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60047\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"0\",\"is_opt_out\":\"0\",\"display_name\":\"testuser1 july21\",\"first_name\":\"testuser1\",\"last_name\":\"july21\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-21 03:57:51\",\"contact_modified_date\":\"2013-07-21 03:57:51\",\"phone_id\":\"51255\",\"phone\":\"1-226-338-9385\",\"phone_type_id\":\"2\",\"email_id\":\"58352\",\"email\":\"testuser1@july21.com\",\"custom_57\":\"\",\"custom_58\":\"\",\"custom_59\":\"\",\"custom_60\":\"\",\"custom_61\":\"\",\"relationships\":[{\"id\":\"59350\",\"contact_id\":\"25\",\"relationship_type_id\":\"10\"}]}]},{\"id\":\"104119\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"2\",\"engagement_level\":\"0\",\"activity_date_time\":\"2013-07-20 22:09:12\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/42\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60048\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60048\",\"custom_14[...]
