--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=2&json=1&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:29:26 +0000
      Etag: 
      - "\"1374524966\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":2,\"values\":{\"2\":{\"id\":\"2\",\"title\":\"Sept 2012 petition\",\"campaign_id\":\"2\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_date\":\"2012-05-29 11:05:52\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2012-09-04 21:20:13\",\"bypass_confirm\":\"1\"}}}"
  recorded_at: Mon, 22 Jul 2013 20:27:56 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1000&survey_id=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:29:26 +0000
      Etag: 
      - "\"1374524966\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Mon, 22 Jul 2013 20:27:57 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Activity&id=55412&json=1&key=382adce875611f9b75d294b83a77a5f2&return=target_contact_id
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:29:27 +0000
      Etag: 
      - "\"1374524967\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":55412,\"values\":{\"55412\":{\"id\":\"55412\",\"source_contact_id\":\"1\",\"activity_type_id\":\"43\",\"subject\":\"Happiness is only a chocolate bar away... (Thanks from P2C)\",\"activity_date_time\":\"2012-09-09 21:28:36\",\"status_id\":\"2\",\"priority_id\":\"1\",\"is_test\":\"0\",\"is_auto\":\"0\",\"is_current_revision\":\"1\",\"is_deleted\":\"0\",\"target_contact_id\":[\"48085\"]}}}"
  recorded_at: Mon, 22 Jul 2013 20:27:57 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Note&action=create&subject=adrian%40ballistiq.com&note=Don't%20forget%20the%20milk&entity_id=48085&contact_id=1&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:29:27 +0000
      Etag: 
      - "\"1374524967\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":4576,\"values\":{\"4576\":{\"id\":\"4576\",\"entity_table\":\"civicrm_contact\",\"entity_id\":\"48085\",\"note\":\"Don't forget the milk\",\"contact_id\":\"1\",\"modified_date\":\"20130722142928\",\"subject\":\"adrian@ballistiq.com\",\"privacy\":\"0\"}}}"
  recorded_at: Mon, 22 Jul 2013 20:27:58 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Note&action=update&id=4576&entity_table=civicrm_contact&entity_id=48085&note=Don't%20forget%20the%20milk&contact_id=1&modified_date=20130722142928&subject=adrian%40ballistiq.com&privacy=0&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:29:28 +0000
      Etag: 
      - "\"1374524968\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":4576,\"values\":{\"4576\":{\"id\":\"4576\",\"entity_table\":\"civicrm_contact\",\"entity_id\":\"48085\",\"note\":\"Don't forget the milk\",\"contact_id\":\"1\",\"modified_date\":\"20130722142928\",\"subject\":\"adrian@ballistiq.com\",\"privacy\":\"0\"}}}"
  recorded_at: Mon, 22 Jul 2013 20:27:58 GMT
recorded_with: VCR 2.5.0
