--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=2&json=1&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:13:07 +0000
      Etag: 
      - "\"1374523987\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":2,\"values\":{\"2\":{\"id\":\"2\",\"title\":\"Sept 2012 petition\",\"campaign_id\":\"2\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_date\":\"2012-05-29 11:05:52\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2012-09-04 21:20:13\",\"bypass_confirm\":\"1\"}}}"
  recorded_at: Mon, 22 Jul 2013 20:11:37 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1000&survey_id=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:13:07 +0000
      Etag: 
      - "\"1374523987\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Mon, 22 Jul 2013 20:11:38 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Activity&id=55412&json=1&key=382adce875611f9b75d294b83a77a5f2&return=target_contact_id
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:13:08 +0000
      Etag: 
      - "\"1374523988\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":55412,\"values\":{\"55412\":{\"id\":\"55412\",\"source_contact_id\":\"1\",\"activity_type_id\":\"43\",\"subject\":\"Happiness is only a chocolate bar away... (Thanks from P2C)\",\"activity_date_time\":\"2012-09-09 21:28:36\",\"status_id\":\"2\",\"priority_id\":\"1\",\"is_test\":\"0\",\"is_auto\":\"0\",\"is_current_revision\":\"1\",\"is_deleted\":\"0\",\"target_contact_id\":[\"48085\"]}}}"
  recorded_at: Mon, 22 Jul 2013 20:11:38 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=getsingle&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Contact&id=48085&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:13:08 +0000
      Etag: 
      - "\"1374523988\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"contact_id\":\"48085\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"sort_name\":\"Mallory, Keira\",\"display_name\":\"Keira Mallory\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"do_not_trade\":\"0\",\"is_opt_out\":\"0\",\"legal_identifier\":\"\",\"external_identifier\":\"2560727\",\"nick_name\":\"\",\"legal_name\":\"\",\"image_URL\":\"\",\"preferred_mail_format\":\"Both\",\"first_name\":\"Keira\",\"middle_name\":\"\",\"last_name\":\"Mallory\",\"job_title\":\"\",\"birth_date\":\"\",\"is_deceased\":\"0\",\"deceased_date\":\"\",\"household_name\":\"\",\"organization_name\":\"\",\"sic_code\":\"\",\"contact_is_deleted\":\"0\",\"gender_id\":\"1\",\"gender\":\"Female\",\"prefix_id\":\"\",\"prefix\":\"\",\"suffix_id\":\"\",\"suffix\":\"\",\"current_employer\":\"\",\"address_id\":\"\",\"street_address\":\"\",\"supplemental_address_1\":\"\",\"supplemental_address_2\":\"\",\"city\":\"\",\"postal_code_suffix\":\"\",\"postal_code\":\"\",\"geo_code_1\":\"\",\"geo_code_2\":\"\",\"state_province_id\":\"\",\"state_province_name\":\"\",\"state_province\":\"\",\"country_id\":\"\",\"country\":\"\",\"phone_id\":\"\",\"phone_type_id\":\"\",\"phone\":\"\",\"email_id\":\"47946\",\"email\":\"kmmallor@lakeheadu.ca\",\"on_hold\":\"0\",\"im_id\":\"\",\"provider_id\":\"\",\"im\":\"\",\"worldregion_id\":\"\",\"world_region\":\"\",\"id\":\"48085\",\"is_error\":0}"
  recorded_at: Mon, 22 Jul 2013 20:11:39 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&contact_id=48085&entity=Activity&json=1&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:13:09 +0000
      Etag: 
      - "\"1374523989\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":3,\"values\":{\"55374\":{\"targets\":{\"48085\":\"48085\"},\"source_contact_id\":\"1\",\"id\":\"55374\",\"activity_type_id\":\"32\",\"subject\":\"Mission Hub Survey 2012\",\"location\":\"\",\"activity_date_time\":\"2012-08-31 00:00:00\",\"details\":\"\",\"status_id\":\"2\",\"activity_name\":\"Petition\",\"status\":\"Completed\",\"custom_65\":\"\",\"custom_65_33508\":\"\",\"custom_64\":\"warmup-fun\",\"custom_64_33508\":\"warmup-fun\",\"custom_66\":\"gauge-3\",\"custom_66_33508\":\"gauge-3\",\"custom_67\":\"journey-p2c\",\"custom_67_33508\":\"journey-p2c\",\"custom_75\":\"Medium\",\"custom_75_33508\":\"Medium\",\"custom_76\":\"15\",\"custom_76_33508\":\"15\",\"custom_77\":\"10\",\"custom_77_33508\":\"10\",\"custom_78\":\"1\",\"custom_78_33508\":\"1\"},\"55404\":{\"targets\":{\"48085\":\"48085\",\"48019\":\"48019\",\"48021\":\"48021\",\"48026\":\"48026\",\"48033\":\"48033\",\"48052\":\"48052\",\"48053\":\"48053\",\"48083\":\"48083\",\"48100\":\"48100\",\"48103\":\"48103\",\"48105\":\"48105\",\"48110\":\"48110\"},\"source_contact_id\":\"1\",\"id\":\"55404\",\"activity_type_id\":\"3\",\"subject\":\"Happiness is only a chocolate bar away... (Thanks from P2C)\",\"location\":\"\",\"activity_date_time\":\"2012-09-09 21:28:33\",\"details\":\"-ALTERNATIVE ITEM 0-\\n<table border=\\\"0\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" height=\\\"100%\\\" id=\\\"backgroundTable\\\" style=\\\"margin: 0px; padding: 0px; height: 100% !important; width: 100% !important; \\\" width=\\\"100%\\\">\\r\\n\\t<tbody>\\r\\n\\t\\t<tr>\\r\\n\\t\\t\\t<td align=\\\"center\\\" style=\\\"border-collapse: collapse;\\\" valign=\\\"top\\\">\\r\\n\\t\\t\\t\\t<table border=\\\"0\\\" cellpadding=\\\"10\\\" cellspacing=\\\"0\\\" id=\\\"templatePreheader\\\" width=\\\"320\\\">\\r\\n\\t\\t\\t\\t\\t<tbody>\\r\\n\\t\\t\\t\\t\\t\\t<tr>\\r\\n\\t\\t\\t\\t\\t\\t\\t<td class=\\\"preheaderContent\\\" style=\\\"border-collapse: collapse;\\\" valign=\\\"top\\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t<table border=\\\"0\\\" cellpadding=\\\"10\\\" cellspacing=\\\"0\\\" width=\\\"100%\\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t<tbody>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<tr>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<td style=\\\"border-collapse: collapse;\\\" valign=\\\"top\\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<div style=\\\"color: rgb(80, 80, 80); font-family: Arial; font-size: 10px; line-height: 100%; \\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<div style=\\\"line-height: 100%; \\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<span style=\\\"line-height: 100%; \\\">You filled out our survey! Here&#39;s a chocolate bar in return...well, sort of.&nbsp;<\\/span><\\/div>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/div>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/td>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/tr>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/tbody>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t<\\/table>\\r\\n\\t\\t\\t\\t\\t\\t\\t<\\/td>\\r\\n\\t\\t\\t\\t\\t\\t<\\/tr>\\r\\n\\t\\t\\t\\t\\t<\\/tbody>\\r\\n\\t\\t\\t\\t<\\/table>\\r\\n\\t\\t\\t\\[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Note&entity_id=48085&entity_table=civicrm_contact&json=1&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:13:09 +0000
      Etag: 
      - "\"1374523989\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Mon, 22 Jul 2013 20:11:40 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&is_active=1&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=134
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 22 Jul 2013 20:13:10 +0000
      Etag: 
      - "\"1374523990\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":5,\"values\":{\"1001\":{\"id\":\"1001\",\"option_group_id\":\"134\",\"label\":\"Gospel Presentation\",\"value\":\"3\",\"name\":\"Gospel_Presentation\",\"is_default\":\"0\",\"weight\":\"3\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1002\":{\"id\":\"1002\",\"option_group_id\":\"134\",\"label\":\"Indicated Decision\",\"value\":\"4\",\"name\":\"Indicated_Decision\",\"is_default\":\"0\",\"weight\":\"4\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"999\":{\"id\":\"999\",\"option_group_id\":\"134\",\"label\":\"Interaction\",\"value\":\"1\",\"name\":\"Interaction\",\"is_default\":\"0\",\"weight\":\"1\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1003\":{\"id\":\"1003\",\"option_group_id\":\"134\",\"label\":\"Shared Spirit-Filled Life\",\"value\":\"5\",\"name\":\"Shared_Spirit_Filled_Life\",\"is_default\":\"0\",\"weight\":\"5\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1000\":{\"id\":\"1000\",\"option_group_id\":\"134\",\"label\":\"Spiritual Conversation\",\"value\":\"2\",\"name\":\"Spiritual_Conversation\",\"is_default\":\"0\",\"weight\":\"2\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"}}}"
  recorded_at: Mon, 22 Jul 2013 20:11:40 GMT
recorded_with: VCR 2.5.0
