--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=11&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:53:07 +0000
      Etag: 
      - "\"1375476787\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":11,\"values\":{\"11\":{\"id\":\"11\",\"title\":\"Power survey - July21-1\",\"campaign_id\":\"8\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_id\":\"1\",\"created_date\":\"2013-07-20 23:53:31\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2013-07-20 23:53:31\",\"bypass_confirm\":\"0\"}}}"
  recorded_at: Fri, 02 Aug 2013 20:51:28 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1000&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:53:07 +0000
      Etag: 
      - "\"1375476787\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":[{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"18\",\"custom_field_id\":\"149\",\"field_name\":\"custom_149\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"155\",\"field_name\":\"custom_155\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"156\",\"field_name\":\"custom_156\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:53:08 +0000
      Etag: 
      - "\"1375476788\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":149,\"values\":{\"149\":{\"id\":\"149\",\"custom_group_id\":\"18\",\"name\":\"I_would_rather\",\"label\":\"I would rather\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"0\",\"is_search_range\":\"0\",\"weight\":\"10\",\"is_active\":\"1\",\"is_view\":\"0\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_would_rather_149\",\"option_group_id\":\"127\"}}}"
  recorded_at: Fri, 02 Aug 2013 20:51:29 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=57&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:53:11 +0000
      Etag: 
      - "\"1375476791\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":57,\"values\":{\"57\":{\"id\":\"57\",\"custom_group_id\":\"7\",\"name\":\"Year_in_School\",\"label\":\"Year in School\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"37\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"year_in_school_57\",\"option_group_id\":\"102\"}}}"
  recorded_at: Fri, 02 Aug 2013 20:51:32 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Activity&id=55412&json=1&key=382adce875611f9b75d294b83a77a5f2&return=target_contact_id&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:53:13 +0000
      Etag: 
      - "\"1375476793\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":55412,\"values\":{\"55412\":{\"id\":\"55412\",\"source_contact_id\":\"1\",\"activity_type_id\":\"43\",\"subject\":\"Happiness is only a chocolate bar away... (Thanks from P2C)\",\"activity_date_time\":\"2012-09-09 21:28:36\",\"status_id\":\"2\",\"priority_id\":\"1\",\"is_test\":\"0\",\"is_auto\":\"0\",\"is_current_revision\":\"1\",\"is_deleted\":\"0\",\"engagement_level\":\"10\",\"target_contact_id\":[\"48085\"]}}}"
  recorded_at: Fri, 02 Aug 2013 20:51:34 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Contact&id=48085&json=%7B%22api.Note.Get%22:%7B%7D,%22api.Activity.Get%22:%7B%7D%7D&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:53:14 +0000
      Etag: 
      - "\"1375476794\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":48085,\"values\":{\"48085\":{\"contact_id\":\"48085\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"sort_name\":\"Mallory, Keira\",\"display_name\":\"Keira Mallory\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"do_not_trade\":\"0\",\"is_opt_out\":\"0\",\"legal_identifier\":\"\",\"external_identifier\":\"2560727\",\"nick_name\":\"\",\"legal_name\":\"\",\"image_URL\":\"\",\"preferred_mail_format\":\"Both\",\"first_name\":\"Keira\",\"middle_name\":\"\",\"last_name\":\"Mallory\",\"job_title\":\"\",\"birth_date\":\"\",\"is_deceased\":\"0\",\"deceased_date\":\"\",\"household_name\":\"\",\"organization_name\":\"\",\"sic_code\":\"\",\"contact_is_deleted\":\"0\",\"gender_id\":\"1\",\"gender\":\"Female\",\"prefix_id\":\"\",\"prefix\":\"\",\"suffix_id\":\"\",\"suffix\":\"\",\"current_employer\":\"\",\"address_id\":\"\",\"street_address\":\"\",\"supplemental_address_1\":\"\",\"supplemental_address_2\":\"\",\"city\":\"\",\"postal_code_suffix\":\"\",\"postal_code\":\"\",\"geo_code_1\":\"\",\"geo_code_2\":\"\",\"state_province_id\":\"\",\"state_province_name\":\"\",\"state_province\":\"\",\"country_id\":\"\",\"country\":\"\",\"phone_id\":\"\",\"phone_type_id\":\"\",\"phone\":\"\",\"email_id\":\"47946\",\"email\":\"kmmallor@lakeheadu.ca\",\"on_hold\":\"0\",\"im_id\":\"\",\"provider_id\":\"\",\"im\":\"\",\"worldregion_id\":\"\",\"world_region\":\"\",\"id\":\"48085\",\"api.Note.Get\":{\"is_error\":0,\"undefined_fields\":[\"entity_table\",\"entity_id\",\"contact_id\",\"api.has_parent\"],\"version\":3,\"count\":0,\"values\":[]},\"api.Activity.Get\":{\"is_error\":0,\"undefined_fields\":[\"entity_id\",\"entity_table\",\"contact_id\",\"api.has_parent\"],\"version\":3,\"count\":5,\"values\":[{\"targets\":{\"48085\":\"48085\"},\"source_contact_id\":\"1\",\"id\":\"55374\",\"activity_type_id\":\"32\",\"subject\":\"Mission Hub Survey 2012\",\"location\":\"\",\"activity_date_time\":\"2012-08-31 00:00:00\",\"details\":\"\",\"status_id\":\"2\",\"activity_name\":\"Petition\",\"status\":\"Completed\",\"custom_65\":\"\",\"custom_65_33508\":\"\",\"custom_64\":\"warmup-fun\",\"custom_64_33508\":\"warmup-fun\",\"custom_66\":\"gauge-3\",\"custom_66_33508\":\"gauge-3\",\"custom_67\":\"journey-p2c\",\"custom_67_33508\":\"journey-p2c\",\"custom_75\":\"Medium\",\"custom_75_33508\":\"Medium\",\"custom_76\":\"15\",\"custom_76_33508\":\"15\",\"custom_77\":\"10\",\"custom_77_33508\":\"10\",\"custom_78\":\"1\",\"custom_78_33508\":\"1\"},{\"targets\":{\"48085\":\"48085\",\"48019\":\"48019\",\"48021\":\"48021\",\"48026\":\"48026\",\"48033\":\"48033\",\"48052\":\"48052\",\"48053\":\"48053\",\"48083\":\"48083\",\"48100\":\"48100\",\"48103\":\"48103\",\"48105\":\"48105\",\"48110\":\"48110\"},\"source_contact_id\":\"1\",\"id\":\"55404\",\"activity_type_id\":\"3\",\"subject\":\"Happiness is only a chocolate bar away... (Thanks from P2C)\",\"location\":\"\",\"activity_date_time\":\"2012-09-09 21:28:33\",\"details\":\"-ALTERNATIVE ITEM 0-\\n<table border=\\\"0\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" height=\\\"100%\\\" id=\\\"backgroundTable\\\" style=\\\"margin: 0px; padding: 0px; height: 100% !important; width: 100% !important; \\\" width=\\\"100%\\\">\\r\\n\\t<tbody>\\r\\n\\t\\t<tr>\\r\\n\\t\\t\\t<td align=\\\"center\\\" style=\\\"border-collapse: collapse;\\\" valign=\\\"top\\\">\\r\\n\\t\\t\\t\\t<table border=\\\"0\\\" cellpadding=\\\"10\\\" cellspacing=\\\"0\\\" id=\\\"templatePreheader\\\" width=\\\"320\\\">\\r\\n\\t\\t\\t\\t\\t<tbody>\\r\\n\\t\\t\\t\\t\\t\\t<tr>\\r\\n\\t\\t\\t\\t\\t\\t\\t<td class=\\\"preheaderContent\\\" style=\\\"border-collapse: collapse;\\\" valign=\\\"top\\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t<table border=\\\"0\\\" cellpadding=\\\"10\\\" cellspacing=\\\"0\\\" width=\\\"100%\\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t<tbody>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<tr>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<td style=\\\"border-collapse: collapse;\\\" valign=\\\"top\\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<div style=\\\"color: rgb(80, 80, 80); font-family: Arial; font-size: 10px; line-height: 100%; \\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<div style=\\\"line-height: 100%; \\\">\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<span style=\\\"line-height: 100%; \\\">You filled out our survey! Here&#39;s a chocolate bar in return...well, sort of.&nbsp;<\\/span><\\/div>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/div>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/td>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/tr>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t<\\/tbody>\\r\\n\\t\\t\\t\\t\\t\\t\\t\\t<\\/table>\\r\\n\\t\\t\\t\\t\\t\\t\\t<\\/td>\\r\\n\\t\\t\\t\\t\\t\\t<\\/tr>\\r\\n\\t\\t\\t\\t\\t<\\/tbody>\\r\\n\\t\\t\\t\\t<\\/table>\\r\\n\\t\\t\\t\\[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&is_active=1&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=134
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:53:14 +0000
      Etag: 
      - "\"1375476794\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":5,\"values\":{\"1001\":{\"id\":\"1001\",\"option_group_id\":\"134\",\"label\":\"Gospel Presentation\",\"value\":\"3\",\"name\":\"Gospel_Presentation\",\"is_default\":\"0\",\"weight\":\"3\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1002\":{\"id\":\"1002\",\"option_group_id\":\"134\",\"label\":\"Indicated Decision\",\"value\":\"4\",\"name\":\"Indicated_Decision\",\"is_default\":\"0\",\"weight\":\"4\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"999\":{\"id\":\"999\",\"option_group_id\":\"134\",\"label\":\"Interaction\",\"value\":\"1\",\"name\":\"Interaction\",\"is_default\":\"0\",\"weight\":\"1\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1003\":{\"id\":\"1003\",\"option_group_id\":\"134\",\"label\":\"Shared Spirit-Filled Life\",\"value\":\"5\",\"name\":\"Shared_Spirit_Filled_Life\",\"is_default\":\"0\",\"weight\":\"5\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1000\":{\"id\":\"1000\",\"option_group_id\":\"134\",\"label\":\"Spiritual Conversation\",\"value\":\"2\",\"name\":\"Spiritual_Conversation\",\"is_default\":\"0\",\"weight\":\"2\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"}}}"
  recorded_at: Fri, 02 Aug 2013 20:51:36 GMT
recorded_with: VCR 2.5.0
