--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=11&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Thu, 08 Aug 2013 15:26:02 +0000
      Etag: 
      - "\"1375975562\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":11,\"values\":{\"11\":{\"id\":\"11\",\"title\":\"Power survey - July21-1\",\"campaign_id\":\"8\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_id\":\"1\",\"created_date\":\"2013-07-20 23:53:31\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2013-07-20 23:53:31\",\"bypass_confirm\":\"0\"}}}"
  recorded_at: Thu, 08 Aug 2013 15:24:19 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1000&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Thu, 08 Aug 2013 15:26:02 +0000
      Etag: 
      - "\"1375975562\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":[{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"18\",\"custom_field_id\":\"149\",\"field_name\":\"custom_149\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"155\",\"field_name\":\"custom_155\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"156\",\"field_name\":\"custom_156\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Thu, 08 Aug 2013 15:26:03 +0000
      Etag: 
      - "\"1375975563\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":149,\"values\":{\"149\":{\"id\":\"149\",\"custom_group_id\":\"18\",\"name\":\"I_would_rather\",\"label\":\"I would rather\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"0\",\"is_search_range\":\"0\",\"weight\":\"10\",\"is_active\":\"1\",\"is_view\":\"0\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_would_rather_149\",\"option_group_id\":\"127\"}}}"
  recorded_at: Thu, 08 Aug 2013 15:24:20 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=57&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Thu, 08 Aug 2013 15:26:05 +0000
      Etag: 
      - "\"1375975565\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":57,\"values\":{\"57\":{\"id\":\"57\",\"custom_group_id\":\"7\",\"name\":\"Year_in_School\",\"label\":\"Year in School\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"37\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"year_in_school_57\",\"option_group_id\":\"102\"}}}"
  recorded_at: Thu, 08 Aug 2013 15:24:23 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Contact&id=60058&json=%7B%22api.note.get%22:%7B%7D,%22api.activity.get%22:%7B%7D,%22api.relationship.get%22:%7B%7D%7D&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Thu, 08 Aug 2013 15:26:08 +0000
      Etag: 
      - "\"1375975568\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":60058,\"values\":{\"60058\":{\"contact_id\":\"60058\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"sort_name\":\"Martin, Russ\",\"display_name\":\"Russ Martin\",\"do_not_email\":\"1\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"do_not_trade\":\"0\",\"is_opt_out\":\"0\",\"legal_identifier\":\"\",\"external_identifier\":\"\",\"nick_name\":\"\",\"legal_name\":\"\",\"image_URL\":\"\",\"preferred_mail_format\":\"Both\",\"first_name\":\"Russ\",\"middle_name\":\"\",\"last_name\":\"Martin\",\"job_title\":\"\",\"birth_date\":\"\",\"is_deceased\":\"0\",\"deceased_date\":\"\",\"household_name\":\"\",\"organization_name\":\"\",\"sic_code\":\"\",\"contact_is_deleted\":\"0\",\"gender_id\":\"2\",\"gender\":\"Male\",\"prefix_id\":\"\",\"prefix\":\"\",\"suffix_id\":\"\",\"suffix\":\"\",\"current_employer\":\"\",\"address_id\":\"\",\"street_address\":\"\",\"supplemental_address_1\":\"\",\"supplemental_address_2\":\"\",\"city\":\"\",\"postal_code_suffix\":\"\",\"postal_code\":\"\",\"geo_code_1\":\"\",\"geo_code_2\":\"\",\"state_province_id\":\"\",\"state_province_name\":\"\",\"state_province\":\"\",\"country_id\":\"\",\"country\":\"\",\"phone_id\":\"\",\"phone_type_id\":\"\",\"phone\":\"\",\"email_id\":\"58358\",\"email\":\"russ.l.martin@gmail.com\",\"on_hold\":\"0\",\"im_id\":\"\",\"provider_id\":\"\",\"im\":\"\",\"worldregion_id\":\"\",\"world_region\":\"\",\"id\":\"60058\",\"api.note.get\":{\"is_error\":0,\"undefined_fields\":[\"entity_table\",\"entity_id\",\"contact_id\",\"api.has_parent\"],\"version\":3,\"count\":0,\"values\":[]},\"api.activity.get\":{\"is_error\":0,\"undefined_fields\":[\"entity_id\",\"entity_table\",\"contact_id\",\"api.has_parent\"],\"version\":3,\"count\":1,\"id\":104210,\"values\":[{\"targets\":{\"60058\":\"60058\"},\"source_contact_id\":\"1\",\"id\":\"104210\",\"activity_type_id\":\"32\",\"subject\":\"Power survey - July21-2\",\"location\":\"\",\"activity_date_time\":\"2013-07-29 13:29:58\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/11\\/submission\\/54\\\">View Webform Submission<\\/a><\\/p>\",\"status_id\":\"4\",\"activity_name\":\"Petition\",\"status\":\"Uncontacted\",\"custom_154\":\"5\",\"custom_154_113\":\"5\",\"custom_155\":\"magazine-success\",\"custom_155_113\":\"magazine-success\",\"custom_156\":\"journey-p2c\",\"custom_156_113\":\"journey-p2c\",\"custom_157\":\"gauge-4\",\"custom_157_113\":\"gauge-4\",\"custom_149\":\"power-backpack\",\"custom_149_43\":\"power-backpack\"}]},\"api.relationship.get\":{\"is_error\":0,\"undefined_fields\":[\"entity_id\",\"entity_table\",\"contact_id\",\"api.has_parent\"],\"version\":3,\"count\":1,\"id\":59353,\"values\":[{\"id\":\"59353\",\"cid\":\"57173\",\"contact_id_a\":\"60058\",\"contact_id_b\":\"57173\",\"relationship_type_id\":\"10\",\"relation\":\"Student Currently Attending\",\"name\":\"Seneca College - York Campus\",\"display_name\":\"Seneca College - York Campus\",\"job_title\":\"\",\"email\":\"\",\"phone\":\"14164915050\",\"employer_id\":\"\",\"organization_name\":\"Seneca College - York Campus\",\"country\":\"Canada\",\"city\":\"Toronto\",\"state\":\"ON\",\"start_date\":\"\",\"end_date\":\"\",\"description\":\"\",\"is_active\":\"1\",\"is_permission_a_b\":\"0\",\"is_permission_b_a\":\"0\",\"case_id\":\"\",\"civicrm_relationship_type_id\":\"10\",\"rtype\":\"a_b\"}]}}}}"
  recorded_at: Thu, 08 Aug 2013 15:24:25 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&is_active=1&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=134
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Thu, 08 Aug 2013 15:26:08 +0000
      Etag: 
      - "\"1375975568\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":5,\"values\":{\"1001\":{\"id\":\"1001\",\"option_group_id\":\"134\",\"label\":\"Gospel Presentation\",\"value\":\"3\",\"name\":\"Gospel_Presentation\",\"is_default\":\"0\",\"weight\":\"3\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1002\":{\"id\":\"1002\",\"option_group_id\":\"134\",\"label\":\"Indicated Decision\",\"value\":\"4\",\"name\":\"Indicated_Decision\",\"is_default\":\"0\",\"weight\":\"4\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"999\":{\"id\":\"999\",\"option_group_id\":\"134\",\"label\":\"Interaction\",\"value\":\"1\",\"name\":\"Interaction\",\"is_default\":\"0\",\"weight\":\"1\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1003\":{\"id\":\"1003\",\"option_group_id\":\"134\",\"label\":\"Shared Spirit-Filled Life\",\"value\":\"5\",\"name\":\"Shared_Spirit_Filled_Life\",\"is_default\":\"0\",\"weight\":\"5\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"1000\":{\"id\":\"1000\",\"option_group_id\":\"134\",\"label\":\"Spiritual Conversation\",\"value\":\"2\",\"name\":\"Spiritual_Conversation\",\"is_default\":\"0\",\"weight\":\"2\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"}}}"
  recorded_at: Thu, 08 Aug 2013 15:24:26 GMT
recorded_with: VCR 2.5.0
