--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=getsingle&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Activity&id=102052&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 23 Jul 2013 22:54:20 +0000
      Etag: 
      - "\"1374620060\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"102052\",\"source_contact_id\":\"1\",\"activity_type_id\":\"32\",\"subject\":\"Mission Hub Survey 2012\",\"activity_date_time\":\"2013-03-11 14:37:34\",\"status_id\":\"4\",\"priority_id\":\"0\",\"is_test\":\"0\",\"is_auto\":\"0\",\"is_current_revision\":\"1\",\"is_deleted\":\"0\",\"campaign_id\":\"2\",\"is_error\":0}"
  recorded_at: Tue, 23 Jul 2013 22:52:49 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=102052&source_contact_id=1&activity_type_id=32&subject=Mission%20Hub%20Survey%202012&activity_date_time=2013-03-11%2014%3A37%3A34&status_id=4&priority_id=0&is_test=0&is_auto=0&is_current_revision=1&is_deleted=0&campaign_id=2&is_error=0&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 23 Jul 2013 22:54:20 +0000
      Etag: 
      - "\"1374620060\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":102052,\"values\":{\"102052\":{\"id\":\"102052\",\"source_contact_id\":\"1\",\"source_record_id\":\"\",\"activity_type_id\":\"32\",\"subject\":\"Mission Hub Survey 2012\",\"activity_date_time\":\"20130311143734\",\"duration\":\"\",\"location\":\"\",\"phone_id\":\"\",\"phone_number\":\"\",\"details\":\"\",\"status_id\":\"4\",\"priority_id\":\"0\",\"parent_id\":\"\",\"is_test\":\"0\",\"medium_id\":\"\",\"is_auto\":\"0\",\"relationship_id\":\"\",\"is_current_revision\":\"1\",\"original_id\":\"\",\"result\":\"\",\"is_deleted\":\"0\",\"campaign_id\":\"2\",\"engagement_level\":\"\",\"weight\":\"\"}}}"
  recorded_at: Tue, 23 Jul 2013 22:52:50 GMT
[...]
