--- 
http_interactions: 
- request: 
    method: get
    uri: http://stagingconnect.powertochange.org/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=1&entity=Activity&id=102052&json=1&key=382adce875611f9b75d294b83a77a5f2&return.target_contact_id=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":102052,\"values\":{\"102052\":{\"id\":\"102052\",\"source_contact_id\":\"1\",\"activity_type_id\":\"32\",\"subject\":\"Mission Hub Survey 2012\",\"activity_date_time\":\"2013-03-11 14:37:34\",\"status_id\":\"2\",\"priority_id\":\"0\",\"is_test\":\"0\",\"is_auto\":\"0\",\"is_current_revision\":\"1\",\"is_deleted\":\"0\",\"campaign_id\":\"2\",\"target_contact_id\":[\"58351\"]}}}"
  recorded_at: Wed, 29 May 2013 23:22:08 GMT
- request: 
    method: get
    uri: http://stagingconnect.powertochange.org/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=1&entity=Activity&id=102053&json=1&key=382adce875611f9b75d294b83a77a5f2&return.target_contact_id=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":102053,\"values\":{\"102053\":{\"id\":\"102053\",\"source_contact_id\":\"1\",\"activity_type_id\":\"32\",\"subject\":\"Mission Hub Survey 2012\",\"activity_date_time\":\"2013-03-11 14:37:41\",\"status_id\":\"2\",\"priority_id\":\"0\",\"is_test\":\"0\",\"is_auto\":\"0\",\"is_current_revision\":\"1\",\"is_deleted\":\"0\",\"campaign_id\":\"2\",\"target_contact_id\":[\"58352\"]}}}"
  recorded_at: Wed, 29 May 2013 23:22:09 GMT
recorded_with: VCR 2.4.0
