--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=10000&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 16 Aug 2013 16:04:21 +0000
      Etag: 
      - "\"1376669061\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":[{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"18\",\"custom_field_id\":\"149\",\"field_name\":\"custom_149\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"155\",\"field_name\":\"custom_155\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"156\",\"field_name\":\"custom_156\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 16 Aug 2013 16:04:22 +0000
      Etag: 
      - "\"1376669062\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":149,\"values\":{\"149\":{\"id\":\"149\",\"custom_group_id\":\"18\",\"name\":\"I_would_rather\",\"label\":\"I would rather\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"0\",\"is_search_range\":\"0\",\"weight\":\"10\",\"is_active\":\"1\",\"is_view\":\"0\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_would_rather_149\",\"option_group_id\":\"127\"}}}"
  recorded_at: Fri, 16 Aug 2013 16:02:33 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 16 Aug 2013 16:04:24 +0000
      Etag: 
      - "\"1376669064\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":57,\"values\":{\"57\":{\"id\":\"57\",\"custom_group_id\":\"7\",\"name\":\"Year_in_School\",\"label\":\"Year in School\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"37\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"year_in_school_57\",\"option_group_id\":\"102\"}}}"
  recorded_at: Fri, 16 Aug 2013 16:02:36 GMT
[...]
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104254&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 16 Aug 2013 16:04:30 +0000
      Etag: 
      - "\"1376669070\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":1,\"error_message\":\"Invalid  Contact Id\"}"
  recorded_at: Fri, 16 Aug 2013 16:02:42 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Contact&json=%7B%22api.activity.get%22:%7B%7D,%22api.relationship.get%22:%7B%22relationship_type_id%22:10%7D,%22id%22:%7B%22in%22:%2260083,60082%22%7D%7D&key=382adce875611f9b75d294b83a77a5f2&rowCount=10000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 16 Aug 2013 16:04:31 +0000
      Etag: 
      - "\"1376669071\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":2,\"values\":{\"60082\":{\"contact_id\":\"60082\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"sort_name\":\"july30, testuser23\",\"display_name\":\"testuser23 july30\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"do_not_trade\":\"0\",\"is_opt_out\":\"0\",\"legal_identifier\":\"\",\"external_identifier\":\"\",\"nick_name\":\"\",\"legal_name\":\"\",\"image_URL\":\"\",\"preferred_mail_format\":\"Both\",\"first_name\":\"testuser23\",\"middle_name\":\"\",\"last_name\":\"july30\",\"job_title\":\"\",\"birth_date\":\"\",\"is_deceased\":\"0\",\"deceased_date\":\"\",\"household_name\":\"\",\"organization_name\":\"\",\"sic_code\":\"\",\"contact_is_deleted\":\"0\",\"gender_id\":\"1\",\"gender\":\"Female\",\"prefix_id\":\"\",\"prefix\":\"\",\"suffix_id\":\"\",\"suffix\":\"\",\"current_employer\":\"\",\"address_id\":\"\",\"street_address\":\"\",\"supplemental_address_1\":\"\",\"supplemental_address_2\":\"\",\"city\":\"\",\"postal_code_suffix\":\"\",\"postal_code\":\"\",\"geo_code_1\":\"\",\"geo_code_2\":\"\",\"state_province_id\":\"\",\"state_province_name\":\"\",\"state_province\":\"\",\"country_id\":\"\",\"country\":\"\",\"phone_id\":\"\",\"phone_type_id\":\"\",\"phone\":\"\",\"email_id\":\"58378\",\"email\":\"testuser23@july30.com\",\"on_hold\":\"0\",\"im_id\":\"\",\"provider_id\":\"\",\"im\":\"\",\"worldregion_id\":\"\",\"world_region\":\"\",\"id\":\"60082\",\"api.activity.get\":{\"is_error\":0,\"undefined_fields\":[\"entity_id\",\"entity_table\",\"contact_id\",\"api.has_parent\"],\"version\":3,\"count\":2,\"values\":[{\"targets\":{\"60082\":\"60082\"},\"source_contact_id\":\"1\",\"id\":\"104252\",\"asignees\":{\"1\":\"1\"},\"activity_type_id\":\"32\",\"subject\":\"Power survey - July21-2\",\"location\":\"\",\"activity_date_time\":\"2013-07-30 22:47:52\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/11\\/submission\\/79\\\">View Webform Submission<\\/a><\\/p>\",\"status_id\":\"2\",\"activity_name\":\"Petition\",\"status\":\"Completed\",\"custom_154\":\"4\",\"custom_154_181\":\"4\",\"custom_155\":\"magazine-spiritual\",\"custom_155_181\":\"magazine-spiritual\",\"custom_156\":\"journey-p2c\",\"custom_156_181\":\"journey-p2c\",\"custom_157\":\"gauge-2\",\"custom_157_181\":\"gauge-2\",\"custom_149\":\"power-backpack\",\"custom_149_65\":\"power-backpack\"},{\"targets\":{\"60082\":\"60082\"},\"source_contact_id\":\"1\",\"id\":\"104253\",\"activity_type_id\":\"43\",\"subject\":\"MyCravings - Email\",\"location\":\"\",\"activity_date_time\":\"2013-07-30 22:47:52\",\"details\":\"\",\"status_id\":\"2\",\"activity_name\":\"Mandrill Email Sent\",\"status\":\"Completed\"}]},\"api.relationship.get\":{\"is_error\":0,\"undefined_fields\":[\"entity_id\",\"entity_table\",\"contact_id\",\"api.has_parent\",\"relationship_type_id\"],\"version\":3,\"count\":1,\"id\":59375,\"values\":[{\"id\":\"59375\",\"cid\":\"25\",\"contact_id_a\":\"60082\",\"contact_id_b\":\"25\",\"relationship_type_id\":\"10\",\"relation\":\"Student Currently Attending\",\"name\":\"University of Waterloo\",\"display_name\":\"University of Waterloo\",\"job_title\":\"\",\"email\":\"\",\"phone\":\"15198884567\",\"employer_id\":\"\",\"organization_name\":\"University of Waterloo\",\"country\":\"Canada\",\"city\":\"Waterloo\",\"state\":\"ON\",\"start_date\":\"\",\"end_date\":\"\",\"description\":\"\",\"is_active\":\"1\",\"is_permission_a_b\":\"0\",\"is_permission_b_a\":\"0\",\"case_id\":\"\",\"civicrm_relationship_type_id\":\"10\",\"rtype\":\"a_b\"}]}},\"60083\":{\"contact_id\":\"60083\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"sort_name\":\"july30, testuser24\",\"display_name\":\"testuser24 july30\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"do_not_trade\":\"0\",\"is_opt_out\":\"0\",\"legal_identifier\":\"\",\"external_identifier\":\"\",\"nick_name\":\"\",\"legal_name\":\"\",\"image_URL\":\"\",\"preferred_mail_format\":\"Both\",\"first_name\":\"testuser24\",\"middl[...]
