--- 
http_interactions: 
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104122&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:38:28 +0000
      Etag: 
      - "\"1377707908\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: &id001 !str 
        str: "{\"is_error\":1,\"error_message\":\"Invalid  Contact Id\"}"
        :@args: 
          :method: :post
          :timeout: 80
          :headers: 
            :user_agent: CiviCrm RubyClient/1.0.1
          :payload: entity=Activity&action=create&id=104122&assignee_contact_id=2394823&json=1
          :url: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?&api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
        :@code: 200
        :@net_http_res: !ruby/object:Net::HTTPOK 
          __read_body_previously_called: true
          body: *id001
          code: "200"
          header: 
            date: 
            - Wed, 28 Aug 2013 16:38:28 GMT
            server: 
            - Apache/2.2.22 (Ubuntu)
            x-powered-by: 
            - PHP/5.4.6-1ubuntu1.2
            x-drupal-cache: 
            - MISS
            expires: 
            - Sun, 19 Nov 1978 05:00:00 GMT
            last-modified: 
            - Wed, 28 Aug 2013 16:38:28 +0000
            cache-control: 
            - no-cache, must-revalidate, post-check=0, pre-check=0
            etag: 
            - "\"1377707908\""
            content-length: 
            - "52"
            content-type: 
            - text/javascript
          message: OK
          read: true
  recorded_at: Wed, 28 Aug 2013 16:36:31 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entities=target_contact,relationships&entity=PtcActivityQuery&id=104122,104124&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:38:29 +0000
      Etag: 
      - "\"1377707909\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":2,\"values\":[{\"id\":\"104122\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"3\",\"priority_id\":\"4\",\"engagement_level\":\"0\",\"activity_date_time\":\"2013-07-20 22:36:54\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/45\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60051\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60051\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60051\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"1\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"is_opt_out\":\"0\",\"display_name\":\"testuser5 july21\",\"first_name\":\"testuser5\",\"last_name\":\"july21\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-21 04:36:54\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"51259\",\"phone\":\"1-226-338-9385\",\"phone_type_id\":\"2\",\"email_id\":\"58354\",\"email\":\"testuser5@july21.com\",\"relationships\":[]}]},{\"id\":\"104124\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"4\",\"priority_id\":\"1\",\"engagement_level\":\"8\",\"activity_date_time\":\"2013-07-20 22:44:54\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/47\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60053\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60053\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60053\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"1\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"0\",\"is_opt_out\":\"0\",\"display_name\":\"testuser7 july21\",\"first_name\":\"testuser7\",\"last_name\":\"july21\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-21 04:44:53\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"51261\",\"phone\":\"1-226-338-9385\",\"phone_type_id\":\"2\",\"email_id\":\"\",\"email\":\"\",\"relationships\":[]}]}]}"
  recorded_at: Wed, 28 Aug 2013 16:36:32 GMT
[...]
