--- 
http_interactions: 
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104122&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 03 Sep 2013 22:05:26 +0000
      Etag: 
      - "\"1378245926\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":1,\"error_message\":\"Invalid  Contact Id\"}"
  recorded_at: Tue, 03 Sep 2013 22:03:26 GMT
[...]
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104122&assignee_contact_id=1&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 03 Sep 2013 22:05:28 +0000
      Etag: 
      - "\"1378245928\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":104122,\"values\":{\"104122\":{\"id\":\"104122\",\"source_contact_id\":\"\",\"source_record_id\":\"\",\"activity_type_id\":\"\",\"subject\":\"\",\"activity_date_time\":\"\",\"duration\":\"\",\"location\":\"\",\"phone_id\":\"\",\"phone_number\":\"\",\"details\":\"\",\"status_id\":\"\",\"priority_id\":\"\",\"parent_id\":\"\",\"is_test\":\"\",\"medium_id\":\"\",\"is_auto\":\"\",\"relationship_id\":\"\",\"is_current_revision\":\"\",\"original_id\":\"\",\"result\":\"\",\"is_deleted\":\"\",\"campaign_id\":\"\",\"engagement_level\":\"\",\"weight\":\"\"}}}"
  recorded_at: Tue, 03 Sep 2013 22:03:27 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entities=target_contact,relationships&entity=PtcActivityQuery&id=104122,104124&json=1&key=382adce875611f9b75d294b83a77a5f2&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 03 Sep 2013 22:05:29 +0000
      Etag: 
      - "\"1378245929\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":2,\"values\":[{\"id\":\"104122\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"3\",\"priority_id\":\"4\",\"engagement_level\":\"0\",\"activity_date_time\":\"2013-07-20 22:36:54\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/45\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60051\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60051\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60051\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"1\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"is_opt_out\":\"0\",\"display_name\":\"testuser5 july21\",\"first_name\":\"testuser5\",\"last_name\":\"july21\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-21 04:36:54\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"51259\",\"phone\":\"1-226-338-9385\",\"phone_type_id\":\"2\",\"email_id\":\"58354\",\"email\":\"testuser5@july21.com\",\"relationships\":[]}]},{\"id\":\"104124\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"4\",\"priority_id\":\"1\",\"engagement_level\":\"8\",\"activity_date_time\":\"2013-07-20 22:44:54\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/47\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60053\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60053\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60053\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"1\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"0\",\"is_opt_out\":\"0\",\"display_name\":\"testuser7 july21\",\"first_name\":\"testuser7\",\"last_name\":\"july21\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-21 04:44:53\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"51261\",\"phone\":\"1-226-338-9385\",\"phone_type_id\":\"2\",\"email_id\":\"\",\"email\":\"\",\"relationships\":[]}]}]}"
  recorded_at: Tue, 03 Sep 2013 22:03:29 GMT
recorded_with: VCR 2.5.0
