--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=10000&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 26 Aug 2013 17:53:14 +0000
      Etag: 
      - "\"1377539594\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":[{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"18\",\"custom_field_id\":\"149\",\"field_name\":\"custom_149\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"155\",\"field_name\":\"custom_155\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"156\",\"field_name\":\"custom_156\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 26 Aug 2013 17:53:14 +0000
      Etag: 
      - "\"1377539594\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":149,\"values\":{\"149\":{\"id\":\"149\",\"custom_group_id\":\"18\",\"name\":\"I_would_rather\",\"label\":\"I would rather\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"0\",\"is_search_range\":\"0\",\"weight\":\"10\",\"is_active\":\"1\",\"is_view\":\"0\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_would_rather_149\",\"option_group_id\":\"127\"}}}"
  recorded_at: Mon, 26 Aug 2013 17:51:19 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=57&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 26 Aug 2013 17:53:17 +0000
      Etag: 
      - "\"1377539597\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":57,\"values\":{\"57\":{\"id\":\"57\",\"custom_group_id\":\"7\",\"name\":\"Year_in_School\",\"label\":\"Year in School\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"37\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"year_in_school_57\",\"option_group_id\":\"102\"}}}"
  recorded_at: Mon, 26 Aug 2013 17:51:22 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=127&rowCount=1000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 26 Aug 2013 17:53:20 +0000
      Etag: 
      - "\"1377539600\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":5,\"values\":{\"950\":{\"id\":\"950\",\"option_group_id\":\"127\",\"label\":\"backpack around the world\",\"value\":\"power-backpack\",\"name\":\"backpack_around_the_world\",\"is_default\":\"0\",\"weight\":\"3\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"952\":{\"id\":\"952\",\"option_group_id\":\"127\",\"label\":\"be a sporting legend\",\"value\":\"power-sport\",\"name\":\"be_a_sporting_legend\",\"is_default\":\"0\",\"weight\":\"5\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"951\":{\"id\":\"951\",\"option_group_id\":\"127\",\"label\":\"build a solid family\",\"value\":\"power-family\",\"name\":\"build_a_solid_family\",\"is_default\":\"0\",\"weight\":\"4\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"949\":{\"id\":\"949\",\"option_group_id\":\"127\",\"label\":\"invent the next big technology\",\"value\":\"power-technology\",\"name\":\"invent_the_next_big_technology\",\"is_default\":\"0\",\"weight\":\"2\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"948\":{\"id\":\"948\",\"option_group_id\":\"127\",\"label\":\"run a major corporation\",\"value\":\"power-corporation\",\"name\":\"run_a_major_corporation\",\"is_default\":\"0\",\"weight\":\"1\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"}}}"
  recorded_at: Mon, 26 Aug 2013 17:51:25 GMT
[...]
