--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomValue&entity_id=1&json=1&key=382adce875611f9b75d294b83a77a5f2&return.custom_61=1&rowCount=1000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 30 Jul 2013 19:24:45 +0000
      Etag: 
      - "\"1375212285\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":61,\"values\":{\"61\":{\"entity_id\":\"1\",\"latest\":\"no\",\"id\":\"61\",\"0\":\"no\"}}}"
  recorded_at: Tue, 30 Jul 2013 19:23:09 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=getsingle&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=61&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 30 Jul 2013 19:24:46 +0000
      Etag: 
      - "\"1375212286\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"id\":\"61\",\"custom_group_id\":\"7\",\"name\":\"I_am_an_international_student\",\"label\":\"I am an international student\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"66\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"2\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_am_an_international_student_61\",\"option_group_id\":\"103\",\"is_error\":0}"
  recorded_at: Tue, 30 Jul 2013 19:23:10 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=103&value=no
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 30 Jul 2013 19:24:47 +0000
      Etag: 
      - "\"1375212287\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":831,\"values\":{\"831\":{\"id\":\"831\",\"option_group_id\":\"103\",\"label\":\"No\",\"value\":\"no\",\"name\":\"No\",\"is_default\":\"0\",\"weight\":\"2\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"}}}"
  recorded_at: Tue, 30 Jul 2013 19:23:10 GMT
recorded_with: VCR 2.5.0
