--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomValue&entity_id=1&json=1&key=382adce875611f9b75d294b83a77a5f2&return.custom_61=1&rowCount=1000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:54:17 +0000
      Etag: 
      - "\"1375476857\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":61,\"values\":{\"61\":{\"entity_id\":\"1\",\"latest\":\"no\",\"id\":\"61\",\"0\":\"no\"}}}"
  recorded_at: Fri, 02 Aug 2013 20:52:38 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=2&rowCount=1000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 20:54:18 +0000
      Etag: 
      - "\"1375476858\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":51,\"values\":{\"32\":{\"id\":\"32\",\"option_group_id\":\"2\",\"label\":\"Add Client To Case\",\"value\":\"27\",\"name\":\"Add Client To Case\",\"filter\":\"0\",\"is_default\":\"0\",\"weight\":\"26\",\"description\":\"\",\"is_optgroup\":\"0\",\"is_reserved\":\"1\",\"is_active\":\"1\",\"component_id\":\"7\"},\"25\":{\"id\":\"25\",\"option_group_id\":\"2\",\"label\":\"Assign Case Role\",\"value\":\"20\",\"name\":\"Assign Case Role\",\"filter\":\"0\",\"is_default\":\"0\",\"weight\":\"20\",\"description\":\"\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\",\"component_id\":\"7\"},\"24\":{\"id\":\"24\",\"option_group_id\":\"2\",\"label\":\"Bulk Email\",\"value\":\"19\",\"name\":\"Bulk Email\",\"filter\":\"1\",\"weight\":\"19\",\"description\":\"Bulk Email Sent.\",\"is_optgroup\":[...]
