--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=10000&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 23 Aug 2013 21:39:41 +0000
      Etag: 
      - "\"1377293981\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":[{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"18\",\"custom_field_id\":\"149\",\"field_name\":\"custom_149\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"155\",\"field_name\":\"custom_155\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"156\",\"field_name\":\"custom_156\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 23 Aug 2013 21:39:42 +0000
      Etag: 
      - "\"1377293982\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":149,\"values\":{\"149\":{\"id\":\"149\",\"custom_group_id\":\"18\",\"name\":\"I_would_rather\",\"label\":\"I would rather\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"0\",\"is_search_range\":\"0\",\"weight\":\"10\",\"is_active\":\"1\",\"is_view\":\"0\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_would_rather_149\",\"option_group_id\":\"127\"}}}"
  recorded_at: Fri, 23 Aug 2013 21:37:49 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=57&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 23 Aug 2013 21:39:45 +0000
      Etag: 
      - "\"1377293985\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":57,\"values\":{\"57\":{\"id\":\"57\",\"custom_group_id\":\"7\",\"name\":\"Year_in_School\",\"label\":\"Year in School\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"37\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"year_in_school_57\",\"option_group_id\":\"102\"}}}"
  recorded_at: Fri, 23 Aug 2013 21:37:51 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 23 Aug 2013 21:39:47 +0000
      Etag: 
      - "\"1377293987\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":884,\"values\":{\"1\":{\"id\":\"1\",\"option_group_id\":\"1\",\"label\":\"Phone\",\"value\":\"1\",\"filter\":\"0\",\"weight\":\"1\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"2\":{\"id\":\"2\",\"option_group_id\":\"1\",\"label\":\"Email\",\"value\":\"2\",\"filter\":\"0\",\"weight\":\"2\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"3\":{\"id\":\"3\",\"option_group_id\":\"1\",\"label\":\"Postal Mail\",\"value\":\"3\",\"filter\":\"0\",\"weight\":\"3\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"4\":{\"id\":\"4\",\"option_group_id\":\"1\",\"label\":\"SMS\",\"value\":\"4\",\"filter\":\"0\",\"weight\":\"4\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"5\":{\"id\":\"5\",\"option_group_id\":\"1\",\"label\":\"Fax\",\"value\":\"5\",\"filter\":\"0\",\"weight\":\"5\",\"is_optgroup\":\"0\",\"is_reserved\":\"0\",\"is_active\":\"1\"},\"6\":{\"id\":\"6\",\"option_group_id\":\"2\",\"label\":\"Meeting\",\"value\":\"1\",\"name\":\"Meeting\",\"filter\":\"0\",\"weight\":\"2\",\"is_optgroup\":\"0\",\"is_reserved\":\"1\",\"is_active\":\"1\"},\"7\":{\"id\":\"7\",\"option_group_id\":\"2\",\"label\":\"Phone Call\",\"value\":\"2\",\"name\":\"Phone Call\",\"filter\":\"0\",\"weight\":\"1\",\"is_optgroup\":\"0\",\"is_reserved\":\"1\",\"is_active\":\"1\"},\"8\":{\"id\":\"8\",\"option_group_id\":\"2\",\"label\":\"Email\",\"value\":\"3\",\"name\":\"Email\",\"filter\":\"1\",\"weight\":\"3\",\"description\":\"Email sent.\",\"is_optgroup\":\"0\",\"is_reserved\":\"1\",\"is_active\":\"1\"},\"9\":{\"id\":\"9\",\"option_group_id\":\"2\",\"label\":\"Text\\/SMS\",\"value\":\"4\",\"name\":\"SMS\",\"filter\":\"0\",\"is_default\":\"0\",\"weight\":\"4\",\"description\":\"<p>\\r\\n\\tText message (SMS) sent.<\\/p>\",\"is_optgroup\":\"0\",\"is_reserved\":\"1\",\"is_active\":\"1\"},\"10\":{\"id\":\"10\",\"option_group_id\":\"2\",\"label\":\"Event Registration\",\"value\":\"5\",\"name\":\"Event Registration\",\"filter\":\"1\",\"weight\":\"5\",\"description\":\"Online or offline event registration.\",\"is_optgroup\":\"0\",\"is_reserved\":\"1\",\"is_active\":\"1\",\"component_id\":\"1\"},\"11\":{\"id\":\"11\",\"option_group_id\":\"2\",\"label\":\"Contribution\",\"value\":\"6\",\"name\":\"Contribution\",\"filter\":\"1\",\"weight\":\"6\",\"description\":\"Online or offline contribution.\",\"is_optgroup\":\"0\",\"is_reserved\":\"1\",\"is_active\":\"1\",\"component_id\":\"2\"},\"12\":{\"id\":\"12\",\"option_group_id\":\"2\",\"label\":\"Membership Signup\",\"value\":\"7\",\"name\":\"Membership Signup\",\"filter\":\"1\",\"weight\":\"7\",\"description\":\"Online or offline membe[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=2&rowCount=1000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 23 Aug 2013 21:39:48 +0000
      Etag[...]
