--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entities=target_contact,relationships,notes,activities&entity=PtcActivityQuery&id=104134&json=1&key=382adce875611f9b75d294b83a77a5f2&return=display_name,custom_143,custom_160,custom_57,custom_59,custom_61&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 02 Sep 2013 01:47:21 +0000
      Etag: 
      - "\"1378086441\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":0,\"values\":[{\"id\":\"104134\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"4\",\"priority_id\":\"4\",\"engagement_level\":\"2\",\"activity_date_time\":\"2013-07-22 18:15:20\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/51\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"25\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60056\",\"custom_143\":\"\",\"custom_160\":\"\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60056\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"1\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"is_opt_out\":\"0\",\"display_name\":\"testuser1 july22\",\"first_name\":\"testuser1\",\"last_name\":\"july22\",\"gender_id\":\"2\",\"contact_created_date\":\"2013-07-23 00:15:19\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"51262\",\"phone\":\"1-1234567890\",\"phone_type_id\":\"2\",\"email_id\":\"58356\",\"email\":\"testuser1@july22.com\",\"custom_57\":\"1\",\"custom_59\":\"major1\",\"custom_61\":\"no\",\"relationships\":[{\"id\":\"59351\",\"contact_id\":\"25\",\"relationship_type_id\":\"10\"}],\"notes\":[{\"id\":\"4603\",\"source_contact_id\":\"60056\",\"modified_date\":\"2013-08-07\",\"note\":\"test\",\"privacy\":\"0\",\"subject\":\"Sheldon Dueck\"},{\"id\":\"4604\",\"source_contact_id\":\"60056\",\"modified_date\":\"2013-08-07\",\"note\":\"test\",\"privacy\":\"0\",\"subject\":\"Sheldon Dueck (sheldon.dueck@gmail.com)\"},{\"id\":\"4605\",\"source_contact_id\":\"60056\",\"modified_date\":\"2013-08-07\",\"note\":\"new test\",\"privacy\":\"0\",\"subject\":\"Sheldon Dueck (sheldon.dueck@gmail.com)\"},{\"id\":\"4606\",\"source_contact_id\":\"60056\",\"modified_date\":\"2013-08-07\",\"note\":\"new test\",\"pri[...]
