--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&return=target_contact_id&rowCount=10000&source_record_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 12 Aug 2013 19:48:19 +0000
      Etag: 
      - "\"1376336899\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":35,\"values\":[{\"id\":\"104118\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"4\",\"engagement_level\":\"2\",\"activity_date_time\":\"2013-07-20 21:57:51\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/41\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60047\",\"assignee_contact_id\":\"\",\"target_contact_id\":\"60047\"},{\"id\":\"104119\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"2\",\"engagement_level\":\"0\",\"activity_date_time\":\"2013-07-20 22:09:12\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/42\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60048\",\"assignee_contact_id\":\"\",\"target_contact_id\":\"60048\"},{\"id\":\"104120\",\"campaign_id\":\"8\",\"source_re[...]
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Contact&json=%7B%22api.activity.get%22:%7B%7D,%22api.relationship.get%22:%7B%22relationship_type_id%22:10%7D,%22id%22:%7B%22in%22:%2260083,60082%22%7D%7D&key=382adce875611f9b75d294b83a77a5f2&rowCount=10000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 12 Aug 2013 19:48:20 +0000
      Etag: 
      - "\"1376336900\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":2,\"values\":{\"60082\":{\"contact_id\":\"60082\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"sort_name\":\"july30, testuser23\",\"display_name\":\"testuser23 july30\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"do_not_trade\":\"0\",\"is_opt_out\":\"0\",\"legal_identifier\":\"\",\"external_identifier\":\"\",\"nick_name\":\"\",\"legal_name\":\"\",\"image_URL\":\"\",\"preferred_mail_format\":\"Both\",\"first_name\":\"testuser23\",\"middle_name\":\"\",\"last_name\":\"july30\",\"job_title\":\"\",\"birth_date\":\"\",\"is_deceased\":\"0\",\"deceased_date\":\"\",\"household_name\":\"\",\"organization_name\":\"\",\"sic_code\":\"\",\"contact_is_deleted\":\"0\",\"gender_id\":\"1\",\"gender\":\"Female\",\"prefix_id\":\"\",\"prefix\":\"\",\"suffix_id\":\"\",\"suffix\":\"\",\"current_employer\":\"\",\"address_id\":\"\",\"street_address\":\"\",\"supplemental_address_1\":\"\",\"supplemental_address_2\":\"\",\"city\":\"\",\"postal_code_suffix\":\"\",\"postal_code\":\"\",\"geo_code_1\":\"\",\"geo_code_2\":\"\",\"state_province_id\":\"\",\"state_province_name\":\"\",\"state_province\":\"\",\"country_id\":\"\",\"country\":\"\",\"phone_id\":\"\",\"phone_type_id\":\"\",\"phone\":\"\",\"email_id\":\"58378\",\"email\":\"testuser23@july30.com\",\"on_hold\":\"0\",\"im_id\":\"\",\"provider_id\":\"\",\"im\":\"\",\"worldregion_id\":\"\",\"world_region\":\"\",\"id\":\"60082\",\"api.activity.get\":{\"is_error\":0,\"undefined_fields\":[\"entity_id\",\"entity_table\",\"contact_id\",\"api.has_parent\"],\"version\":3,\"count\":2,\"values\":[{\"targets\":{\"60082\":\"60082\"},\"source_contact_id\":\"1\",\"id\":\"104252\",\"activity_type_id\":\"32\",\"subject\":\"Power survey - July21-2\",\"location\":\"\",\"activity_date_time\":\"2013-07-30 22:47:52\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/11\\/submission\\/79\\\">View Webform Submission<\\/a><\\/p>\",\"status_id\":\"2\",\"activity_name\":\"Petition\",\"status\":\"Completed\",\"custom_154\":\"4\",\"custom_154_181\":\"4\",\"custom_155\":\"magazine-spiritual\",\"custom_155_181\":\"magazine-spiritual\",\"custom_156\":\"journey-p2c\",\"custom_156_181\":\"journey-p2c\",\"custom_157\":\"gauge-2\",\"custom_157_181\":\"gauge-2\",\"custom_149\":\"power-backpack\",\"custom_149_65\":\"power-backpack\"},{\"targets\":{\"60082\":\"60082\"},\"source_contact_id\":\"1\",\"id\":\"104253\",\"activity_type_id\":\"43\",\"subject\":\"MyCravings - Email\",\"location\":\"\",\"activity_date_time\":\"2013-07-30 22:47:52\",\"details\":\"\",\"status_id\":\"2\",\"activity_name\":\"Mandrill Email Sent\",\"status\":\"Completed\"}]},\"api.relationship.get\":{\"is_error\":0,\"undefined_fields\":[\"entity_id\",\"entity_table\",\"contact_id\",\"api.has_parent\",\"relationship_type_id\"],\"version\":3,\"count\":1,\"id\":59375,\"values\":[{\"id\":\"59375\",\"cid\":\"25\",\"contact_id_a\":\"60082\",\"contact_id_b\":\"25\",\"relationship_type_id\":\"10\",\"relation\":\"Student Currently Attending\",\"name\":\"University of Waterloo\",\"display_name\":\"University of Waterloo\",\"job_title\":\"\",\"email\":\"\",\"phone\":\"15198884567\",\"employer_id\":\"\",\"organization_name\":\"University of Waterloo\",\"country\":\"Canada\",\"city\":\"Waterloo\",\"state\":\"ON\",\"start_date\":\"\",\"end_date\":\"\",\"description\":\"\",\"is_active\":\"1\",\"is_permission_a_b\":\"0\",\"is_permission_b_a\":\"0\",\"case_id\":\"\",\"civicrm_relationship_type_id\":\"10\",\"rtype\":\"a_b\"}]}},\"60083\":{\"contact_id\":\"60083\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"sort_name\":\"july30, testuser24\",\"display_name\":\"testuser24 july30\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"do_not_trade\":\"0\",\"is_opt_out\":\"0\",\"legal_identifier\":\"\",\"external_identifier\":\"\",\"nick_name\":\"\",\"legal_name\":\"\",\"image_URL\":\"\",\"preferred_mail_format\":\"Both\",\"first_name\":\"testuser24\",\"middl[...]
