--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:00:13 +0000
      Etag: 
      - "\"1377626413\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":[{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"18\",\"custom_field_id\":\"149\",\"field_name\":\"custom_149\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"155\",\"field_name\":\"custom_155\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"156\",\"field_name\":\"custom_156\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:00:14 +0000
      Etag: 
      - "\"1377626414\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":149,\"values\":{\"149\":{\"id\":\"149\",\"custom_group_id\":\"18\",\"name\":\"I_would_rather\",\"label\":\"I would rather\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"0\",\"is_search_range\":\"0\",\"weight\":\"10\",\"is_active\":\"1\",\"is_view\":\"0\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_would_rather_149\",\"option_group_id\":\"127\"}}}"
  recorded_at: Tue, 27 Aug 2013 17:58:18 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=57&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:00:17 +0000
      Etag: 
      - "\"1377626417\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":57,\"values\":{\"57\":{\"id\":\"57\",\"custom_group_id\":\"7\",\"name\":\"Year_in_School\",\"label\":\"Year in School\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"37\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"year_in_school_57\",\"option_group_id\":\"102\"}}}"
  recorded_at: Tue, 27 Aug 2013 17:58:21 GMT
[...]
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104254&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:00:25 +0000
      Etag: 
      - "\"1377626425\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":1,\"error_message\":\"Invalid  Contact Id\"}"
  recorded_at: Tue, 27 Aug 2013 17:58:29 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entities=target_contact,relationships&entity=PtcActivityQuery&id=104254,104252&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:00:26 +0000
      Etag: 
      - "\"1377626426\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":2,\"values\":[{\"id\":\"104252\",\"campaign_id\":\"8\",\"source_record_id\":\"12\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"3\",\"engagement_level\":\"\",\"activity_date_time\":\"2013-07-30 22:47:52\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/11\\/submission\\/79\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60082\",\"contacts\":[{\"relationships\":[{\"id\":\"59375\",\"contact_id\":\"25\",\"relationship_type_id\":\"10\"}],\"contact_id\":\"60082\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"is_opt_out\":\"0\",\"display_name\":\"testuser23 july30\",\"first_name\":\"testuser23\",\"last_name\":\"july30\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-31 02:47:52\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"\",\"phone\":\"\",\"phone_type_id\":\"\",\"email_id\":\"58378\",\"email\":\"testuser23@july30.com\"}]},{\"id\":\"104254\",\"campaign_id\":\"8\",\"source_record_id\":\"12\",\"activity_type_id\":\"32\",\"status_id\":\"4\",\"priority_id\":\"3\",\"engagement_level\":\"\",\"activity_date_time\":\"2013-07-30 22:53:12\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/11\\/submission\\/80\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"1\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60083\",\"contacts\":[{\"relationships\":[{\"id\":\"59376\",\"contact_id\":\"22\",\"relationship_type_id\":\"10\"}],\"contact_id\":\"60083\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"is_opt_out\":\"0\",\"display_name\":\"testuser24 july30\",\"first_name\":\"testuser24\",\"last_name\":\"july30\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-31 02:53:12\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"\",\"phone\":\"\",\"phone_type_id\":\"\",\"email_id\":\"58379\",\"email\":\"testuser24@july30.com\"}]}]}"
  recorded_at: Tue, 27 Aug 2013 17:58:31 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104254&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:36:07 +0000
      Etag: 
      - "\"1377707767\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: &id001 !str 
        str: "{\"is_error\":1,\"error_message\":\"Invalid  Contact Id\"}"
        :@args: 
          :method: :post
          :timeout: 80
          :headers: 
            :user_agent: CiviCrm RubyClient/1.0.1
          :payload: entity=Activity&action=create&id=104254&assignee_contact_id=2394823&json=1
          :url: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?&api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
        :@code: 200
        :@net_http_res: !ruby/object:Net::HTTPOK 
          __read_body_previously_called: true
          body: *id001
          code: "200"
          header: 
            date: 
            - Wed, 28 Aug 2013 16:36:07 GMT
            server: 
            - Apache/2.2.22 (Ubuntu)
            x-powered-by: 
            - PHP/5.4.6-1ubuntu1.2
            x-drupal-cache: 
            - MISS
            expires: 
            - Sun, 19 Nov 1978 05:00:00 GMT
            last-modified: 
            - Wed, 28 Aug 2013 16:36:07 +0000
            cache-control: 
            - no-cache, must-revalidate, post-check=0, pre-check=0
            etag: 
            - "\"1377707767\""
            content-length: 
            - "52"
            content-type: 
            - text/javascript
          message: OK
          read: true
  recorded_at: Wed, 28 Aug 2013 16:34:11 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entities=target_contact,relationships&entity=PtcActivityQuery&id=104254,104252&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:36:08 +0000
      Etag: 
      - "\"1377707768\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":2,\"values\":[{\"id\":\"104252\",\"campaign_id\":\"8\",\"source_record_id\":\"12\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"3\",\"engagement_level\":\"\",\"activity_date_time\":\"2013-07-30 22:47:52\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/11\\/submission\\/79\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"1\",\"subject\":\"Power survey - July21-2\",\"assignee_contact_id\":\"1\",\"target_contact_id\":\"60082\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60082\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"1\",\"is_opt_out\":\"0\",\"display_name\":\"testuser23 july30\",\"first_name\":\"testuser23\",\"last_name\":\"july30\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-31 02:47:52\",\"contact_modified_date\":\"2013-08-20 14:45:48\",\"phone_id\":\"\",\"phone\":\"\",\"phone_type_id\":\"\",\"email_id[...]
[...]
