--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=2&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:04:20 +0000
      Etag: 
      - "\"1377626660\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":2,\"values\":{\"2\":{\"id\":\"2\",\"title\":\"Sept 2012 petition\",\"campaign_id\":\"2\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_date\":\"2012-05-29 11:05:52\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2012-09-04 21:20:13\",\"bypass_confirm\":\"1\"}}}"
  recorded_at: Tue, 27 Aug 2013 18:02:24 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=2&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&survey_id=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:04:21 +0000
      Etag: 
      - "\"1377626661\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Tue, 27 Aug 2013 18:02:25 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=2&entities=target_contact,relationships&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&source_record_id=2&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:04:21 +0000
      Etag: 
      - "\"1377626661\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Tue, 27 Aug 2013 18:02:27 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=2&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:36:10 +0000
      Etag: 
      - "\"1377707770\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: &id001 !str 
        str: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":2,\"values\":{\"2\":{\"id\":\"2\",\"title\":\"Sept 2012 petition\",\"campaign_id\":\"2\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_date\":\"2012-05-29 11:05:52\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2012-09-04 21:20:13\",\"bypass_confirm\":\"1\"}}}"
        :@args: 
          :method: :get
          :timeout: 80
          :headers: 
            :user_agent: CiviCrm RubyClient/1.0.1
          :url: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?id=2&rowCount=1&entity=Survey&action=get&json=1&api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
        :@code: 200
        :@net_http_res: !ruby/object:Net::HTTPOK 
          __read_body_previously_called: true
          body: *id001
          code: "200"
          header: 
            date: 
            - Wed, 28 Aug 2013 16:36:10 GMT
            server: 
            - Apache/2.2.22 (Ubuntu)
            x-powered-by: 
            - PHP/5.4.6-1ubuntu1.2
            x-drupal-cache: 
            - MISS
            expires: 
            - Sun, 19 Nov 1978 05:00:00 GMT
            last-modified: 
            - Wed, 28 Aug 2013 16:36:10 +0000
            cache-control: 
            - no-cache, must-revalidate, post-check=0, pre-check=0
            etag: 
            - "\"1377707770\""
            content-length: 
            - "297"
            content-type: 
            - text/javascript
          message: OK
          read: true
  recorded_at: Wed, 28 Aug 2013 16:34:14 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=2&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&survey_id=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:36:11 +0000
      Etag: 
      - "\"1377707771\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Wed, 28 Aug 2013 16:34:14 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=2&entities=target_contact,relationships&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&source_record_id=2&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:36:11 +0000
      Etag: 
      - "\"1377707771\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Wed, 28 Aug 2013 16:34:16 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=2&entities=target_contact,relationships&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=50&source_record_id=2&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 30 Aug 2013 19:09:12 +0000
      Etag: 
      - "\"1377889752\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Fri, 30 Aug 2013 19:07:15 GMT
recorded_with: VCR 2.5.0
