--- 
http_interactions: 
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=55412&status_id=2&engagement_level=10&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 13 Aug 2013 20:06:29 +0000
      Etag: 
      - "\"1376424389\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":55412,\"values\":{\"55412\":{\"id\":\"55412\",\"source_contact_id\":\"\",\"source_record_id\":\"\",\"activity_type_id\":\"\",\"subject\":\"\",\"activity_date_time\":\"\",\"duration\":\"\",\"location\":\"\",\"phone_id\":\"\",\"phone_number\":\"\",\"details\":\"\",\"status_id\":\"2\",\"priority_id\":\"\",\"parent_id\":\"\",\"is_test\":\"\",\"medium_id\":\"\",\"is_auto\":\"\",\"relationship_id\":\"\",\"is_current_revision\":\"\",\"original_id\":\"\",\"result\":\"\",\"is_deleted\":\"\",\"campaign_id\":\"\",\"engagement_level\":\"10\",\"weight\":\"\"}}}"
  recorded_at: Tue, 13 Aug 2013 20:04:43 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Note&action=create&subject=Completed%20Initial%20Follow-up&note=adrian%40ballistiq.com%20completed%20initial%20follow-up%20of%20the%20Power%20survey%20-%20July21-1%20survey%20and%20recorded%20a%20result%20of%20connected%20face-to-face%20and%20will%20continue%20the%20conversation.&contact_id=32340&entity_id=32340&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 13 Aug 2013 20:06:30 +0000
      Etag: 
      - "\"1376424390\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"error_code\":\"constraint violation\",\"sql\":\"INSERT INTO civicrm_note (entity_table , entity_id , note , contact_id , modified_date , subject , privacy ) VALUES ('civicrm_contact' ,  32340 , 'adrian@ballistiq.com completed initial follow-up of the Power survey - July21-1 survey and recorded a result of connected face-to-face and will continue the conversation.' ,  32340 ,  20130813140630 , 'Completed Initial Follow-up' , '0' )  [nativecode=1452 ** Cannot add or update a child row: a foreign key constraint fails (`connect_powertochange_org`.`civicrm_note`, CONSTRAINT `FK_civicrm_note_contact_id` FOREIGN KEY (`contact_id`) REFERENCES `civicrm_contact` (`id`) ON DELETE SET NULL)]\",\"tip\":\"add debug=1 to your API call to have more info about the error\",\"is_error\":1,\"error_message\":\"contact_id is not valid : 32340\"}"
  recorded_at: Tue, 13 Aug 2013 20:04:44 GMT
recorded_with: VCR 2.5.0
