--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Activity&id=55412&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 19:53:21 +0000
      Etag: 
      - "\"1375473201\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":55412,\"values\":{\"55412\":{\"id\":\"55412\",\"source_contact_id\":\"1\",\"activity_type_id\":\"43\",\"subject\":\"Happiness is only a chocolate bar away... (Thanks from P2C)\",\"activity_date_time\":\"2012-09-09 21:28:36\",\"status_id\":\"3\",\"priority_id\":\"1\",\"is_test\":\"0\",\"is_auto\":\"0\",\"is_current_revision\":\"1\",\"is_deleted\":\"0\",\"engagement_level\":\"8\"}}}"
  recorded_at: Fri, 02 Aug 2013 19:51:42 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=55412&source_contact_id=1&activity_type_id=43&subject=Happiness%20is%20only%20a%20chocolate%20bar%20away...%20(Thanks%20from%20P2C)&activity_date_time=2012-09-09%2021%3A28%3A36&status_id=4&priority_id=1&is_test=0&is_auto=0&is_current_revision=1&is_deleted=0&engagement_level=8&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Fri, 02 Aug 2013 19:53:22 +0000
      Etag: 
      - "\"1375473202\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":55412,\"values\":{\"55412\":{\"id\":\"55412\",\"source_contact_id\":\"1\",\"source_record_id\":\"\",\"activity_type_id\":\"43\",\"subject\":\"Happiness is only a chocolate bar away... (Thanks from P2C)\",\"activity_date_time\":\"20120909212836\",\"duration\":\"\",\"location\":\"\",\"phone_id\":\"\",\"phone_number\":\"\",\"details\":\"\",\"status_id\":\"4\",\"priority_id\":\"1\",\"parent_id\":\"\",\"is_test\":\"0\",\"medium_id\":\"\",\"is_auto\":\"0\",\"relationship_id\":\"\",\"is_current_revision\":\"1\",\"original_id\":\"\",\"result\":\"\",\"is_deleted\":\"0\",\"campaign_id\":\"\",\"engagement_level\":\"8\",\"weight\":\"\"}}}"
  recorded_at: Fri, 02 Aug 2013 19:51:43 GMT
recorded_with: VCR 2.5.0
