--- 
http_interactions: 
- request: 
    method: get
    uri: http://stagingconnect.powertochange.org/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=1&entity=Activity&id=123&json=1&key=382adce875611f9b75d294b83a77a5f2&return.target_contact_id=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Mon, 17 Jun 2013 17:51:37 GMT
recorded_with: VCR 2.4.0
