--- 
http_interactions: 
- request: 
    method: get
    uri: http://stagingconnect.powertochange.org/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=1&custom_group_id=9&entity=CustomField&json=1&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":{\"64\":{\"id\":\"64\",\"custom_group_id\":\"9\",\"name\":\"The_one_thing_I_crave_most_is\",\"label\":\"The one thing I crave most is\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"19\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"4\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"the_one_thing_i_crave_most_is_64\",\"option_group_id\":\"106\"},\"65\":{\"id\":\"65\",\"custom_group_id\":\"9\",\"name\":\"I_d_like_a_FREE_MAGAZINE_BY_PERSONAL_DELIVERY_to_help_me_explor_\",\"label\":\"I'd like a FREE MAGAZINE BY PERSONAL DELIVERY to help me explor my craving for\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"7\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\[...]
