--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=OptionValue&json=1&key=382adce875611f9b75d294b83a77a5f2&option_group_id=999&rowCount=1000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 31 Jul 2013 15:39:53 +0000
      Etag: 
      - "\"1375285193\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":0,\"values\":[]}"
  recorded_at: Wed, 31 Jul 2013 15:38:16 GMT
recorded_with: VCR 2.5.0
