--- 
http_interactions: 
- request: 
    method: get
    uri: http://stagingconnect.powertochange.org/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=1&entity=CustomGroup&extends=Activity&extends_entity_column_value=32&json=1&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":9,\"values\":{\"9\":{\"id\":\"9\",\"name\":\"Sept_Launch_2012\",\"title\":\"September Launch 2012\",\"extends\":\"Activity\",\"extends_entity_column_value\":[\"32\"],\"style\":\"Inline\",\"collapse_display\":\"0\",\"help_pre\":\"\",\"help_post\":\"\",\"weight\":\"1\",\"is_active\":\"1\",\"table_name\":\"civicrm_value_sept_launch_2012_9\",\"is_multiple\":\"0\",\"collapse_adv_display\":\"1\",\"created_date\":\"2012-05-29 09:24:53\"}}}"
  recorded_at: Thu, 23 May 2013 22:15:51 GMT
recorded_with: VCR 2.4.0
