--- 
http_interactions: 
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104122&assignee_contact_id=1&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 03 Sep 2013 22:05:44 +0000
      Etag: 
      - "\"1378245944\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":104122,\"values\":{\"104122\":{\"id\":\"104122\",\"source_contact_id\":\"\",\"source_record_id\":\"\",\"activity_type_id\":\"\",\"subject\":\"\",\"activity_date_time\":\"\",\"duration\":\"\",\"location\":\"\",\"phone_id\":\"\",\"phone_number\":\"\",\"details\":\"\",\"status_id\":\"\",\"priority_id\":\"\",\"parent_id\":\"\",\"is_test\":\"\",\"medium_id\":\"\",\"is_auto\":\"\",\"relationship_id\":\"\",\"is_current_revision\":\"\",\"original_id\":\"\",\"result\":\"\",\"is_deleted\":\"\",\"campaign_id\":\"\",\"engagement_level\":\"\",\"weight\":\"\"}}}"
  recorded_at: Tue, 03 Sep 2013 22:03:44 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=104124&assignee_contact_id=1&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 03 Sep 2013 22:05:45 +0000
      Etag: 
      - "\"1378245945\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":104124,\"values\":{\"104124\":{\"id\":\"104124\",\"source_contact_id\":\"\",\"source_record_id\":\"\",\"activity_type_id\":\"\",\"subject\":\"\",\"activity_date_time\":\"\",\"duration\":\"\",\"location\":\"\",\"phone_id\":\"\",\"phone_number\":\"\",\"details\":\"\",\"status_id\":\"\",\"priority_id\":\"\",\"parent_id\":\"\",\"is_test\":\"\",\"medium_id\":\"\",\"is_auto\":\"\",\"relationship_id\":\"\",\"is_current_revision\":\"\",\"original_id\":\"\",\"result\":\"\",\"is_deleted\":\"\",\"campaign_id\":\"\",\"engagement_level\":\"\",\"weight\":\"\"}}}"
  recorded_at: Tue, 03 Sep 2013 22:03:44 GMT
recorded_with: VCR 2.5.0
