--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=11&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:06:16 +0000
      Etag: 
      - "\"1377626776\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":11,\"values\":{\"11\":{\"id\":\"11\",\"title\":\"Power survey - July21-1\",\"campaign_id\":\"8\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_id\":\"1\",\"created_date\":\"2013-07-20 23:53:31\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2013-07-20 23:53:31\",\"bypass_confirm\":\"0\"}}}"
  recorded_at: Tue, 27 Aug 2013 18:04:20 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:06:17 +0000
      Etag: 
      - "\"1377626777\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":16,\"values\":[{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"18\",\"custom_field_id\":\"149\",\"field_name\":\"custom_149\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"155\",\"field_name\":\"custom_155\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",\"custom_group_id\":\"22\",\"custom_field_id\":\"156\",\"field_name\":\"custom_156\"},{\"activity_type_id\":\"32\",\"campaign_id\":\"8\",\"survey_id\":\"11\",\"entity_type\":\"customgroup\",[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:06:17 +0000
      Etag: 
      - "\"1377626777\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":149,\"values\":{\"149\":{\"id\":\"149\",\"custom_group_id\":\"18\",\"name\":\"I_would_rather\",\"label\":\"I would rather\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"0\",\"is_search_range\":\"0\",\"weight\":\"10\",\"is_active\":\"1\",\"is_view\":\"0\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"i_would_rather_149\",\"option_group_id\":\"127\"}}}"
  recorded_at: Tue, 27 Aug 2013 18:04:22 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=57&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:06:20 +0000
      Etag: 
      - "\"1377626780\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":57,\"values\":{\"57\":{\"id\":\"57\",\"custom_group_id\":\"7\",\"name\":\"Year_in_School\",\"label\":\"Year in School\",\"data_type\":\"String\",\"html_type\":\"Radio\",\"is_required\":\"0\",\"is_searchable\":\"1\",\"is_search_range\":\"0\",\"weight\":\"37\",\"is_active\":\"1\",\"is_view\":\"0\",\"options_per_line\":\"6\",\"text_length\":\"255\",\"note_columns\":\"60\",\"note_rows\":\"4\",\"column_name\":\"year_in_school_57\",\"option_group_id\":\"102\"}}}"
  recorded_at: Tue, 27 Aug 2013 18:04:24 GMT
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entities=target_contact,relationships&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&source_record_id=11&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:06:22 +0000
      Etag: 
      - "\"1377626782\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":34,\"values\":[{\"id\":\"104118\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"4\",\"engagement_level\":\"2\",\"activity_date_time\":\"2013-07-20 21:57:51\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/41\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60047\",\"assignee_contact_id\":\"82288\",\"target_contact_id\":\"60047\",\"custom_149\":\"power-backpack\",\"custom_155\":[\"magazine-no\"],\"custom_156\":[\"journey-nothing\"],\"custom_157\":\"gauge-1\",\"custom_159\":\"\",\"custom_151\":\"\",\"custom_152\":\"\",\"custom_64\":\"\",\"custom_162\":\"\",\"contacts\":[{\"relationships\":[{\"id\":\"59350\",\"contact_id\":\"25\",\"relationship_type_id\":\"10\"}],\"contact_id\":\"60047\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"0\",\"is_opt_out\":\"0\",\"display_name\":\"testuser1 july21\",\"first_name\":\"testuser1\",\"last_name\":\"july21\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-21 03:57:51\",\"contact_modified_date\":\"2013-07-21 03:57:51\",\"phone_id\":\"51255\",\"phone\":\"1-226-338-9385\",\"phone_type_id\":\"2\",\"email_id\":\"58352\",\"email\":\"testuser1@july21.com\",\"custom_57\":\"\",\"custom_58\":\"\",\"custom_59\":\"\",\"custom_60\":\"\",\"custom_61\":\"\"}]},{\"id\":\"104119\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"2\",\"engagement_level\":\"0\",\"activity_date_time\":\"2013-07-20 22:09:12\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/42\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60048\",\"assignee_contact_id\":\"\",\"target_contact_id\":\"60048\",\"custom_149\":\"\",\"custom_155\":\"\",\"custom_156\":\[...]
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=24309&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Tue, 27 Aug 2013 18:06:25 +0000
      Etag: 
      - "\"1377626785\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":1,\"error_message\":\"Invalid  Contact Id\"}"
  recorded_at: Tue, 27 Aug 2013 18:04:30 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=Survey&id=11&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:40:33 +0000
      Etag: 
      - "\"1377708033\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: &id001 !str 
        str: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":11,\"values\":{\"11\":{\"id\":\"11\",\"title\":\"Power survey - July21-1\",\"campaign_id\":\"8\",\"activity_type_id\":\"32\",\"is_active\":\"1\",\"is_default\":\"0\",\"created_id\":\"1\",\"created_date\":\"2013-07-20 23:53:31\",\"last_modified_id\":\"1\",\"last_modified_date\":\"2013-07-20 23:53:31\",\"bypass_confirm\":\"0\"}}}"
        :@args: 
          :method: :get
          :timeout: 80
          :headers: 
            :user_agent: CiviCrm RubyClient/1.0.1
          :url: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?id=11&rowCount=1&entity=Survey&action=get&json=1&api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
        :@code: 200
        :@net_http_res: !ruby/object:Net::HTTPOK 
          __read_body_previously_called: true
          body: *id001
          code: "200"
          header: 
            date: 
            - Wed, 28 Aug 2013 16:40:33 GMT
            server: 
            - Apache/2.2.22 (Ubuntu)
            x-powered-by: 
            - PHP/5.4.6-1ubuntu1.2
            x-drupal-cache: 
            - MISS
            expires: 
            - Sun, 19 Nov 1978 05:00:00 GMT
            last-modified: 
            - Wed, 28 Aug 2013 16:40:33 +0000
            cache-control: 
            - no-cache, must-revalidate, post-check=0, pre-check=0
            etag: 
            - "\"1377708033\""
            content-length: 
            - "322"
            content-type: 
            - text/javascript
          message: OK
          read: true
  recorded_at: Wed, 28 Aug 2013 16:38:37 GMT
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entity=CustomSurveyFields&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&survey_id=11
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Mo[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&api_key=676c3fcae94c0a6c452417a11b2b7c11&entity=CustomField&id=149&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=1
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:40:35 +0000
[...]
[...]
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&campaign_id=8&entities=target_contact,relationships&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=100&source_record_id=11&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 2013 16:40:40 +0000
      Etag: 
      - "\"1377708040\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":34,\"values\":[{\"id\":\"104118\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"4\",\"engagement_level\":\"2\",\"activity_date_time\":\"2013-07-20 21:57:51\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/41\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60047\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"82288\",\"target_contact_id\":\"60047\",\"custom_149\":\"power-backpack\",\"custom_155\":[\"magazine-no\"],\"custom_156\":[\"journey-nothing\"],\"custom_157\":\"gauge-1\",\"custom_159\":\"\",\"custom_151\":\"\",\"custom_152\":\"\",\"custom_64\":\"\",\"custom_162\":\"\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60047\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"0\",\"is_opt_out\":\"0\",\"display_name\":\"testuser1 july21\",\"first_name\":\"testuser1\",\"last_name\":\"july21\",\"gender_id\":\"1\",\"contact_created_date\":\"2013-07-21 03:57:51\",\"contact_modified_date\":\"2013-07-21 03:57:51\",\"phone_id\":\"51255\",\"phone\":\"1-226-338-9385\",\"phone_type_id\[...]
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=24309&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Wed, 28 Aug 201[...]
[...]
