--- 
http_interactions: 
- request: 
    method: get
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?action=get&activity_type_id=32&api_key=676c3fcae94c0a6c452417a11b2b7c11&assignee_contact_id=NULL&campaign_id=8&entities=target_contact,relationships&entity=PtcActivityQuery&json=1&key=382adce875611f9b75d294b83a77a5f2&rowCount=20&sort=priority_id&source_record_id=11&target_contact_relationship_type_id=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 09 Sep 2013 16:26:28 +0000
      Etag: 
      - "\"1378743988\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":17,\"values\":[{\"id\":\"104120\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"2\",\"priority_id\":\"2\",\"engagement_level\":\"8\",\"activity_date_time\":\"2013-07-20 22:33:32\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/43\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60049\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"\",\"target_contact_id\":\"60049\",\"custom_149\":\"\",\"custom_155\":\"\",\"custom_156\":\"\",\"custom_157\":\"\",\"custom_159\":\"\",\"custom_151\":\"\",\"custom_152\":\"\",\"custom_64\":\"\",\"custom_162\":\"\",\"activity_name\":\"Petition\",\"contacts\":[{\"contact_id\":\"60049\",\"contact_type\":\"Individual\",\"contact_sub_type\":\"\",\"do_not_email\":\"0\",\"do_not_phone\":\"0\",\"do_not_mail\":\"0\",\"do_not_sms\":\"0\",\"is_opt_out\":\"0\",\"display_name\":\"testuser3 july21\",\"first_name\":\"testuser3\",\"last_name\":\"july21\",\"gender_id\":\"\",\"contact_created_date\":\"2013-07-21 04:33:31\",\"contact_modified_date\":\"2013-07-21 04:33:32\",\"phone_id\":\"51257\",\"phone\":\"226-338-9385\",\"phone_type_id\":\"2\",\"email_id\":\"\",\"email\":\"\",\"custom_57\":\"\",\"custom_58\":\"\",\"custom_59\":\"\",\"custom_60\":\"\",\"custom_61\":\"\",\"relationships\":[]}]},{\"id\":\"104122\",\"campaign_id\":\"8\",\"source_record_id\":\"11\",\"activity_type_id\":\"32\",\"status_id\":\"3\",\"priority_id\":\"4\",\"engagement_level\":\"0\",\"activity_date_time\":\"2013-07-20 22:36:54\",\"details\":\"<p><a href=\\\"https:\\/\\/stagehub.p2c.com\\/node\\/10\\/submission\\/45\\\">View Webform Submission<\\/a><\\/p>\",\"source_contact_id\":\"60051\",\"subject\":\"Power survey - July21-1\",\"assignee_contact_id\":\"\",\"target_contact_id\":\"60051\",\"custom_149\":\"p[...]
