body.list_view {
  .navbar {
    margin-bottom: 0;
    .btn-navbar {
      margin-right: 0;
    }
    .brand {
      padding-left: 5px;
    }
  }
  footer {
    padding: 20px;
  }
}

.survey {
  .title {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;

    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
    background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dfe1e2');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dfe1e2');
    text-shadow: white 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    color: #5e6469;

    .add-lead {
      margin-top: -5px;
    }
  }
}

div.contacts,
ul.contacts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    &.inactive {
      cursor: auto;
    }
    &:hover:not(.inactive) {
      background: #5768C7;
      color: white;
    }
    .actions {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .arrow {
      position: absolute;
      right: 20px;
      top: 40px;
    }
  }
}

div.contacts {
  .item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    .actions {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}

.carousel {
  margin-bottom: 0;
}
.carousel.slide {
  position: relative;
}

.carousel-nav {
  width: 100%;
  a {
    display: inline-block;
    background: rgba(0,0,0,0.7);
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      background: rgba(0,0,0,0.9);
    }
  }
}

.avatar {
  width: 64px;
  height: 64px;
  background: #eee;
  float: left;
  .border-radius(100px);
  img {
    .border-radius(100px);
  }
}
.info {
  padding-left: 80px;
  h5 { line-height: 0; font-size: 16px;}
}
.well.square {
  .border-radius(0);
  margin-bottom: 0;
}
.more {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #f1f1f1;
  dl { margin-bottom: 3px; margin-top: 0; overflow: hidden;}
  dt {float: left;}
  dd { margin-left: 100px; }
}

h4 { margin-top: 0;}

.table thead { background: white; }
.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
  background: white;
}

