body.list_view {
  background: url(/assets/cross_scratches.png);
  .navbar {
    margin-bottom: 0;
    .btn-navbar {
      margin-right: 0;
    }
    .brand {
      padding-left: 15px;
    }
  }
  footer {
    padding: 10px 10px;
    text-align: center;
  }
}

.filters-container {
  margin-top: 10px;
  label {
    font-weight: bold;
  }
  padding: 20px !important;
}

.list-title {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(90, 90, 90);
  font-weight: normal;
}

.row.marginless {
  margin: 0;
}

.survey {
  .title-row {
    padding: 15px 10px;
    @media (max-width: 767px) { min-height: 35px; }
    font-size: 18px;
    font-weight: bold;
    position: relative;

    background: #dfe1e2;
    text-shadow: white 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    color: #5e6469;

    .title {
      display: inline-block;
    }

    .title-actions + .title {
      @media (max-width: 480px) {
        max-width: 200px;
      }
    }

    .title-actions {
      float: left;
      margin-top: -5px;
      margin-right: 15px;
      font-weight: normal;
    }

    .muted {
      font-weight: normal;
    }

    .arrow {
      position: absolute;
      right: 21px;
      top: 30%;
    }
  }

  // Clickable title row
  .title-row[data-url] {
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
    background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dfe1e2');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dfe1e2');

    cursor: pointer;
    &.inactive {
      cursor: auto;
    }
    &:hover:not(.inactive) {
      background: #dfe1e2;
    }
  }

  .well {
    margin: 0;
  }
}


div.contacts,
ul.contacts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    background: white;
    position: relative;
    padding: 15px 10px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    &.inactive {
      cursor: auto;
    }
    &:hover:not(.inactive) {
      background: #5768C7;
      color: white;
    }
    .actions {
      position: absolute;
      right: 20px;
      top: 35px;
      margin-right: 50px;
    }
    .arrow {
      position: absolute;
      right: 15px;
      top: 40%;
      font-size: 18px;
    }
  }
}

div.contacts {
  .item {
    @media (max-width: 767px) { min-height: 100px; }
    padding: 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    .actions {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}

.carousel {
  margin-bottom: 0;
}
.carousel.slide {
  position: relative;
}

.carousel-nav {
  width: 100%;
  a {
    display: inline-block;
    background: rgba(0,0,0,0.7);
    width: 50%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      background: rgba(0,0,0,0.9);
    }
    i {
      padding: 15px;
    }
  }

  a.disabled {
    cursor: auto;
    color: silver;
    background: rgba(0,0,0,0.1);
    &:hover {
      background: rgba(0,0,0,0.1);
    }
  }
}

.avatar {
  width: 80px;
  height: 80px;
  float: left;
}
@media (max-width: 767px) {
  .avatar {
    width: 40px;
    height: 40px;
  }
}

.info {
  padding-left: 90px;
  h5 { line-height: 0; font-size: 16px;}
}
@media (max-width: 767px) {
  .info {
    padding-left: 45px;
  }
}

.well.well-large.square {
  .border-radius(0);
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.well.square {
  padding: 10px;
  .border-radius(0);
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  &.progress-panel {
    padding-right: 80px;
  }
  .progress {
    .box-shadow(inset 0 1px 2px 1px rgba(0, 0, 0, 0.2));
    background: #e0e0e0;
    margin: 0;
    height: 35px;
    width: 100%;
    .bar {
      display: table;
      .desc {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
      }
    }
  }
  h1 { text-align: center; }
  h4 { margin: 0; margin-bottom: 10px; }
  &.item {
    h4 { text-align: center; margin-bottom: 5px; }
  }
  .btn.reverse-progress {
    float: right;
    margin-right: -70px;
    margin-top: -33px;
  }
}
.more {
  dl { margin-bottom: 3px; margin-top: 0; overflow: hidden;}
  dt { float: left; }
  dd { margin-left: 100px; }
}

h4 { margin-top: 0; font-size: 16px;}
h4 {
  i { margin-right: 10px;}
}
.table { margin-bottom: 0; }
.table thead { background: white; }
.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
  background: white;
}
.table td.icon { width: 15px; }

.report-progress {
  background: #e6e6e6;
  .box-shadow(inset 0px 1px 0px 0px #fff);
  border-top: 0;
  .form-inline { margin: 0 auto; text-align: center; }
  .form-inline label { margin: 0; margin-left: 8px; line-height: 0.7; }
  .form-inline input { vertical-align: top; }
  .form-inline > span { margin-right: 10px }
}
.report-progress {
  // for small iPhone screens
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.report-progress .form-inline label {
  margin-left: 5px; // for small iPhone screens
}
.report-progress .form-inline input {
  margin-left: 5px; // for small iPhone screens
}
.report-progress .form-inline > span {
  margin-right: 5px; // for small iPhone screens
}
.report-progress .report-result {
  text-align: center;
  min-height: 30px;
}

.label {
  &.status-2 { background-color: #468847; } // completed
  &.status-3 { background-color: #3a87ad; } // in progress
  &.status-4 {  } // uncontacted
}