.simple_form.filters {
  padding: 0 !important;
  margin: 0 !important;

  .input { margin-bottom: 5px; }

  label, label.select.inline {
    float: left;
    text-align: right;
    padding: 4px 10px;
    width: 200px;
  }

  select { width: 100px; }

  div.input {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 480px) {
  label, label.select.inline {
    width: 100px !important;
    float: right;
  }
}