<progressbar percentage="25" message="Onwards Ho!"></progressbar>
<div class="well square item">
  <h4>How did it go?</h4>
  <div class="panel">
    <a href="#/not_work" class="btn btn-large btn-block">Didn't Work out</a>
    <a href="#/worked_out" ng-click="setEngagementLevel(<%= Lead::REPORT_CODES.digital %>)" class="btn btn-large btn-block">Worked Out Digitally</a>
    <a href="#/worked_out" ng-click="setEngagementLevel(<%= Lead::REPORT_CODES.face %>)" class="btn btn-large btn-block">Worked Out Face-to-Face</a>
  </div>
</div>