--- 
http_interactions: 
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=55412&assignee_contact_id=2394823&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 02 Sep 2013 01:46:24 +0000
      Etag: 
      - "\"1378086384\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":1,\"error_message\":\"Invalid  Contact Id\"}"
  recorded_at: Mon, 02 Sep 2013 01:44:31 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Activity&action=create&id=55412&status_id=2&engagement_level=8&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 02 Sep 2013 01:46:25 +0000
      Etag: 
      - "\"1378086385\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":55412,\"values\":{\"55412\":{\"id\":\"55412\",\"source_contact_id\":\"\",\"source_record_id\":\"\",\"activity_type_id\":\"\",\"subject\":\"\",\"activity_date_time\":\"\",\"duration\":\"\",\"location\":\"\",\"phone_id\":\"\",\"phone_number\":\"\",\"details\":\"\",\"status_id\":\"2\",\"priority_id\":\"\",\"parent_id\":\"\",\"is_test\":\"\",\"medium_id\":\"\",\"is_auto\":\"\",\"relationship_id\":\"\",\"is_current_revision\":\"\",\"original_id\":\"\",\"result\":\"\",\"is_deleted\":\"\",\"campaign_id\":\"\",\"engagement_level\":\"8\",\"weight\":\"\"}}}"
  recorded_at: Mon, 02 Sep 2013 01:44:32 GMT
- request: 
    method: post
    uri: https://stagehub.p2c.com/sites/all/modules/civicrm/extern/rest.php/civicrm/extern/rest.php?api_key=676c3fcae94c0a6c452417a11b2b7c11&key=382adce875611f9b75d294b83a77a5f2
    body: 
      encoding: US-ASCII
      string: entity=Note&action=create&subject=Completed%20Initial%20Follow-up&note=adrian%40ballistiq.com%20completed%20initial%20follow-up%20of%20the%20Power%20survey%20-%20July21-1%20survey%20and%20recorded%20a%20result%20of%20connected%20digitally%20and%20will%20continue%20the%20conversation.&contact_id=60110&entity_id=60110&json=1
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Drupal-Cache: 
      - MISS
      Last-Modified: 
      - Mon, 02 Sep 2013 01:46:26 +0000
      Etag: 
      - "\"1378086386\""
      Content-Type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_error\":0,\"version\":3,\"count\":1,\"id\":4724,\"values\":{\"4724\":{\"id\":\"4724\",\"entity_table\":\"civicrm_contact\",\"entity_id\":\"60110\",\"note\":\"adrian@ballistiq.com completed initial follow-up of the Power survey - July21-1 survey and recorded a result of connected digitally and will continue the conversation.\",\"contact_id\":\"60110\",\"modified_date\":\"20130901194626\",\"subject\":\"Completed Initial Follow-up\",\"privacy\":\"0\"}}}"
  recorded_at: Mon, 02 Sep 2013 01:44:33 GMT
recorded_with: VCR 2.5.0
