- contact_id = local_assigns[:lead].present? ? lead.contact_id : local_assigns[:contact_id]
- hidden_phone_class = local_assigns[:hidden_phone] == true ? 'hidden-phone' : ''
- if address.present?
  email address= address tourl= survey_contact_response_activities_path(survey_id: survey.id, contact_id: contact_id, response_id: response_id) campaignid= survey.campaign_id hiddenphoneclass= hidden_phone_class