- contact_id = local_assigns[:lead].present? ? lead.contact_id : local_assigns[:contact_id]
- survey_id = local_assigns[:lead].present? ? lead.survey_id : local_assigns[:survey_id]
- if address.present?
  email address= address tourl= survey_contact_activities_path(survey_id: survey_id, contact_id: contact_id)