strong = filter_select_for_attribute(f, :target_contact_relationship_contact_id_b, label: t('school'))
strong = filter_select_for_attribute(f, :priority_id, label: t('followup_priority'))
= filter_select_for_attribute(f, :target_contact_gender_id, label: t('gender'))
= filter_select_for_attribute(f, CiviCrm.custom_fields.contact.year, label: t('year_in_school'))
= filter_select_for_attribute(f, :assignee_contact_id, label: t('assigned')) unless local_assigns[:filters].try(:[], :assignee_contact_id) == false
- if local_assigns[:survey].present?
  - survey.fields.with_option_group.sort_by(&:label).reject { |field| field.field_name.to_sym == CiviCrm.custom_fields.contact.year }.each do |field|
    = filter_select_for_attribute(f, field.field_name, label: field.label)
= field_text_field_for_attribute(f, :target_contact_first_name, label: t('first_name'), placeholder: t('exact_match'))
= field_text_field_for_attribute(f, :target_contact_last_name, label: t('last_name'), placeholder: t('exact_match'))